<app-header></app-header>



  <div *ngIf="!loading" class="bg-white shadow-lg shadow-lime-100 md:w-[600px] md:h-[450px] mx-auto p-10 my-48">
    <h1 class="text-center text-primary-400 font-Blinker font-bold  ">¿Olvidaste la contraseña?</h1>
    <h2 class="text-center text-gray-700 text-xl mb-12 ">Te enviaremos un enlace para restablecerlo. Ingrese su dirección de correo electrónico.</h2>
    <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" formControlName="correo" placeholder="name@example.com">
        <label>Email</label>
        <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLable">
          El <strong>correo</strong> es requerido
        </span>
        <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLable">
          El <strong>correo</strong> es inválido
        </span>
      </div>
      <div class="d-grid gap-2 mb-3">
        <button type="submit" class=" bg-primary-400 text-2xl text-white py-2 rounded-lg" [disabled]="recuperarUsuario.invalid">Enviar link de recuperación</button>
      </div>
      <div class="text-center">
        <a class="text-primary-400 text-center" routerLink="/login">Volver</a>
      </div>
    </form>
  </div>
  <div class="  w-[600px] h-[450px] mx-auto p-10 my-48" *ngIf="loading">
    <app-spinner class="w-full" *ngIf="loading"></app-spinner>

  </div>


<app-footer></app-footer>
