<app-header></app-header>


<div class="min-h-screen flex justify-center items-center">
  <div *ngIf="!loading" class=" rounded-xl bg:w-full xs1:w-[500px]  md:w-[600px] md:h-[400px]   p-10 my-48 py-auto py-auto mx-auto">
    <h1 class="text-center text-primary-500 font-Blinker font-black mb-5 text-3xl">¿Olvidaste la contraseña?</h1>
    <h2 class="text-center text-gray-700 text-lg mb-12 ">Te enviaremos un enlace para restablecerlo. Ingrese su dirección de correo electrónico.</h2>
    <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
      <div class="form-floating mb-3">
        <div class="relative z-0 ">
        <input autocomplete="email" type="email" class="peer block w-full appearance-none border-stone-200 border rounded-md px-4 py-2 my-2 focus:placeholder:text-white" formControlName="correo" placeholder="Correo">
        <label class="absolute top-3 -z-10 origin-[0] -translate-y-7 scale-75 transform text-xl text-black font-semibold  duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-10 peer-focus:scale-75  ">Correo</label>
      </div>
        <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-red-600 text-right">
          El <strong>correo</strong> es requerido
        </span>
        <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-red-600 text-right">
          El <strong>correo</strong> es inválido
        </span>
      </div>
      <div class="d-grid gap-2 mb-3 flex justify-center">
        <button type="submit" class="bg-primary-400 text-xl text-white py-2 px-2 w-[90%] rounded-lg" [disabled]="recuperarUsuario.invalid">Enviar link </button>
      </div>
      <div class="text-center">
        <a class="text-primary-400 text-center underline" routerLink="auth/login">Volver</a>
      </div>
    </form>
  </div>
  <div class="  w-[600px] h-[450px] mx-auto p-10 my-48" *ngIf="loading">
    <!-- <app-spinner class="w-full" *ngIf="loading"></app-spinner> -->

  </div>

</div>

