.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.arrowIcons{
  scroll-behavior: smooth;
}

.carousel.dragging img{
  pointer-events: none;
}

.carousel.dragging div{
  pointer-events: none;

}
