
  <app-header></app-header>
  <div class="min-h-screen flex justify-center items-center">


    <div *ngIf="!loading" class=" rounded-xl bg:w-full xs1:w-[500px] md:w-[600px] md:h-[550px]  mx-auto p-10 my-48 py-auto">

      <h1 class="text-center text-primary-500 font-Blinker font-black mb-16 bg:text-xl md:text-4xl">Registrate en Pa'lHuila </h1>
      <!-- [formGroup]="registrarUsuario: Esta directiva está utilizando la sintaxis de enlace de propiedades -->
      <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario" class="mx-auto my-auto py-auto px-auto">

        <div class="form-floating mb-6">
          <div class="relative z-0 ">
            <input autofocus autocapitalize="false" spellcheck="false" inputmode="email"id="username" autocomplete="username" type="username" class="peer block w-full appearance-none border-stone-200 border rounded-md px-4 py-2 my-2 focus:placeholder:text-white" formControlName="email" placeholder="Correo">
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-10 scale-75 transform text-xl text-black font-semibold  duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-10 peer-focus:scale-75  ">Correo</label>
          </div>

          <!-- Accedemos al email desde el formulario y verifiacmos si la propiedad de error es verdadera o nula -->
          <!-- además queremos que el mensaje aparezca en caso de que el campo sea tocado -->
          <span *ngIf="registrarUsuario.get('email')?.hasError('required') && registrarUsuario.get('email')?.touched" class="text-red-600 text-right">
            El <strong>correo</strong> es requerido
          </span>
          <span *ngIf="registrarUsuario.get('email')?.hasError('email') && registrarUsuario.get('email')?.touched" class="text-red-600 text-right">
            El <strong>correo</strong> es inválido
          </span>
        </div>
        <div class="form-floating mb-6">
          <div class="relative z-0 ">
            <input autocomplete="new-password" type="{{type}}" class="peer block w-full appearance-none border-stone-200 border rounded-md px-4 py-2 my-2 focus:placeholder:text-white" formControlName="password" placeholder="Contraseña">
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-10 scale-75 transform text-xl text-black font-semibold  duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-10 peer-focus:scale-75  ">Contraseña</label>
            <span  id="buttonsvgeye" class="absolute top-3 right-2 w-10 flex justify-center cursor-pointer" (click)="Ojito()">

              <svg role="button" *ngIf="eye" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="{{Color}}"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>

              <svg role="button" *ngIf="!eye" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="{{Color}}"><path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/><path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/><path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/><line x1="2" x2="22" y1="2" y2="22"/></svg>


            </span>
          </div>

          <!-- Validación -->
          <span *ngIf="registrarUsuario.get('password')?.hasError('required') && registrarUsuario.get('password')?.touched" class="text-red-600 text-right">
            La <strong>contraseña</strong> es requerida.
          </span>
          <span *ngIf="registrarUsuario.get('password')?.hasError('minlength') && registrarUsuario.get('password')?.touched" class="text-red-600 text-right">
            La <strong>contraseña</strong> debe tener 6 caracteres.
          </span>
        </div>
        <div class="form-floating mb-3">
          <div class="relative z-0 ">

            <input autocomplete="new-password" type="{{type}}" class="peer block w-full appearance-none border-stone-200 border rounded-md px-4 py-2 my-2 focus:placeholder:text-white" formControlName="repetirPassword" placeholder="Repetir Password">
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-10 scale-75 transform text-xl text-black font-semibold  duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-10 peer-focus:scale-75  ">Repetir contraseña</label>

            <span  id="buttonsvgeye" class="absolute top-3 right-2 w-10 flex justify-center cursor-pointer" (click)="Ojito()">

              <svg  role="button" *ngIf="eye" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="{{Color}}"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>

              <svg role="button"  *ngIf="!eye" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="{{Color}}"><path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/><path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/><path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/><line x1="2" x2="22" y1="2" y2="22"/></svg>


            </span>
          </div>

        </div>
        <!-- Vamos a utiliazar la propiedad status del fomulario más una directiva para hacer desabilitar el botón -->
        <div class="d-grid gap-2 mb-3 mx-auto flex justify-center">
          <button class="bg-primary-400 text-xl text-white py-2 px-2 w-[90%] rounded-lg" [disabled]="registrarUsuario.invalid" type="submit">Aceptar</button>
        </div>
        <div class="text-center">
          <a class="text-primary-400" routerLink="auth/login">Volver</a>
        </div>

      </form>
    </div>
    <!-- Template de la carga, lo utilizamos junto a la directiva *ngIf y la lógica del ts -->
    <app-spinner *ngIf="loading"></app-spinner>

  </div>

  <app-footer></app-footer>


