
  <app-header></app-header>
  <div class="min-h-screen flex justify-center items-center">


    <div *ngIf="!loading" class="shadow-lg rounded-xl bg:w-[300px] xs1:w-[500px] bg:-[200px] md:w-[600px] md:h-[550px]  mx-auto p-10 my-48 py-auto">

      <h1 class="text-center text-primary-500 font-Blinker font-bold mb-16 bg:text-xl md:text-4xl">Registrate en TurismoHuila </h1>
      <!-- [formGroup]="registrarUsuario: Esta directiva está utilizando la sintaxis de enlace de propiedades -->
      <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario" class="mx-auto my-auto py-auto px-auto">

        <div class="form-floating mb-6">
          <div class="relative z-0 ">
            <input type="email" class="peer block w-full appearance-none border-stone-200 border rounded-md px-4 py-2 my-2 focus:placeholder:text-white" formControlName="email" placeholder="Correo">
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-7 scale-75 transform text-xl text-black font-semibold  duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-7 peer-focus:scale-75  ">Correo</label>
          </div>

          <!-- Accedemos al email desde el formulario y verifiacmos si la propiedad de error es verdadera o nula -->
          <!-- además queremos que el mensaje aparezca en caso de que el campo sea tocado -->
          <span *ngIf="registrarUsuario.get('email')?.hasError('required') && registrarUsuario.get('email')?.touched" class="text-red-600 text-right">
            El <strong>correo</strong> es requerido
          </span>
          <span *ngIf="registrarUsuario.get('email')?.hasError('email') && registrarUsuario.get('email')?.touched" class="text-red-600 text-right">
            El <strong>correo</strong> es inválido
          </span>
        </div>
        <div class="form-floating mb-6">
          <div class="relative z-0 ">
            <input type="password" class="peer block w-full appearance-none border-stone-200 border rounded-md px-4 py-2 my-2 focus:placeholder:text-white" formControlName="password" placeholder="Contraseña">
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-7 scale-75 transform text-xl text-black font-semibold  duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-7 peer-focus:scale-75  ">Contraseña</label>
          </div>

          <!-- Validación -->
          <span *ngIf="registrarUsuario.get('password')?.hasError('required') && registrarUsuario.get('password')?.touched" class="text-red-600 text-right">
            La <strong>contraseña</strong> es requerida.
          </span>
          <span *ngIf="registrarUsuario.get('password')?.hasError('minlength') && registrarUsuario.get('password')?.touched" class="text-red-600 text-right">
            La <strong>contraseña</strong> debe tener 6 caracteres.
          </span>
        </div>
        <div class="form-floating mb-3">
          <div class="relative z-0 ">

            <input type="password" class="peer block w-full appearance-none border-stone-200 border rounded-md px-4 py-2 my-2 focus:placeholder:text-white" formControlName="repetirPassword" placeholder="Repetir Password">
            <label class="absolute top-3 -z-10 origin-[0] -translate-y-7 scale-75 transform text-xl text-black font-semibold  duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-7 peer-focus:scale-75  ">Repetir contraseña</label>
          </div>

        </div>
        <!-- Vamos a utiliazar la propiedad status del fomulario más una directiva para hacer desabilitar el botón -->
        <div class="d-grid gap-2 mb-3 mx-auto flex justify-center">
          <button class="bg-primary-400 text-xl text-white py-2 px-2 w-[90%] rounded-lg" [disabled]="registrarUsuario.invalid" type="submit">Aceptar</button>
        </div>
        <div class="text-center">
          <a class="text-primary-400" routerLink="auth/login">Volver</a>
        </div>

      </form>
    </div>
    <!-- Template de la carga, lo utilizamos junto a la directiva *ngIf y la lógica del ts -->
    <app-spinner *ngIf="loading"></app-spinner>

  </div>

  <app-footer></app-footer>


