
<div class="mt-[64px]  bg:max-w-auto h-[100px] max-w-full z-50 items-center justify-center">

  <div  class="flex flex-row gap-4 items-center  md2:justify-center   bg-primary-500 h-full rounded-b-xl overflow-x-scroll p-0 m-0 text-white">

      <button  *ngFor="let title of titles; let i = index" [ngClass]="{'bg-primary-400 text-white': botonActivo === title.headingText}"
      (click)="activarBoton(title.headingText)"  class="flex items-center border-primary-50 border-2  focus:outline-none focus:ring-4  hover:bg-primary-400 focus:ring-primary-300 font-Work font-bold    min-w-[204px] max-h-[50px] h-full  text-white rounded-xl justify-center"><img alt="ButtonFilter{{title.headingText}}"  class="w-[30px]"  src="assets/img/bed.svg" ><h2 class="justify-center mb-0 text">{{title.headingText}}</h2></button>

  </div>

</div>
