<div *ngIf="messageButton" class="max-w-[300px] slide md:max-w-[412px] w-full h-full min-h-screen fixed bg-white right-0 z-50">
  <div class="w-full bg-primary-500 min-h-[60px] flex flex-row items-center px-2">
    <span class="text-white font-bold font-Blinker text-xl md:text-3xl">Mensajes</span>
    <button (click)="messageButton = false" class="min-h-[48px] ml-auto aspect-square rounded-full flex flex-row justify-center items-center text-white hover:bg-white hover:bg-opacity-40">
      <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"></path>
      </svg>
    </button>
  </div>
  <div class="flex flex-row gap-2 p-4 min-h-[60px]">

    <button (click)="filter='unread'; checking()" class="p-1 px-4 max-h-[50px] rounded-lg button-transition"
    [ngClass]="{
      'bg-primary-500 text-white': filter === 'unread',
      'border-primary-500 text-primary-500': filter !== 'unread' && filter !== 'all' && filter !== 'read'
    }">
No leídos
</button>

<button (click)="filter='read'" class="p-1 px-4 max-h-[50px] rounded-lg button-transition"
    [ngClass]="{
      'bg-primary-500 text-white': filter === 'read',
      'border-primary-500 text-primary-500': filter !== 'read' && filter !== 'unread' && filter !== 'all'
    }">
Leídos
</button>
  </div>

  <div *ngIf="filter=== 'unread';  " id="recipe"  class="flex flex-col recipe  gap-2 p-4 max-h-[90%] overflow-y-scroll">
    <div id="cardMessage" class="border cardMessage headerMessagesContainer p-2 border-primary-800 hover:bg-primary-500 hover:bg-opacity-5 overflow-hidden rounded-lg flex flex-col" *ngFor="let item of messages">
      <div class="flex headerMessage flex-col border-b-2 border-primary-800">
        <span class="font-bold text-primary-500 font-Blinker text-lg">{{item.name}}</span>
        <span class="font-bold text-primary-500 text italic font-Josefin">{{item.email}}</span>
        <span class="font-semibold text-black opacity-80 text font-Josefin">{{item.date}}</span>
      </div>
      <span>{{item.message}}</span>
      <button (click)="readMessage(item.id)" class="rounded-full p-2 px-4 bg-primary-500 mt-auto text-white">Leer</button>
    </div>
  </div>

  <div *ngIf="filter=== 'read';  " id="recipe"  class="flex flex-col recipe  gap-2 p-4 max-h-[90%] overflow-y-scroll">
    <div id="cardMessage" class="border cardMessage headerMessagesContainer p-2 border-primary-800 hover:bg-primary-500 hover:bg-opacity-5 overflow-hidden rounded-lg flex flex-col" *ngFor="let item of messagesRead">
      <div class="flex headerMessage flex-col border-b-2 border-primary-800">
        <span class="font-bold text-primary-500 font-Blinker text-lg">{{item.name}}</span>
        <span class="font-bold text-primary-500 text italic font-Josefin">{{item.email}}</span>
        <span class="font-semibold text-black opacity-80 text font-Josefin">{{item.date}}</span>
      </div>
      <span>{{item.message}}</span>
    </div>
  </div>

</div>



<div (click)="messageButton = false" *ngIf="messageButton" class="fixed bg-black w-full h-full z-40 bg-opacity-50">

</div>

<header class="z-30 bg-primary-500 mx-auto items-center justify-center left-0 top-0 w-full px-1">
  <div class="flex justify-center  flex-wrap items-center xl:max-w-[1280px] mx-auto">
    <button class="text-gray-500 focus:outline-none focus:ring-2 focus:ring-primary-400 hover:bg-primary-400 inline-flex items-center lg:hidden ml-1 p-2 rounded-lg text-sm" type="button" (click)="toggleExpanded()" aria-controls="mobile-menu-2">
      <svg class="h-6 w-6 fill-white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" fill-rule="evenodd"></path>
      </svg>
    </button>
    <div  class="flex z-30 cursor-pointer  justify-center flex-row  mx-auto md:mr-auto md:mx-0">
      <h1 class="self-center hidden text-white font-Work font-[1000] ms-2 sm:text-3xl xs:text-2xl">
        Para el Huila, Colombia - La mejor página de turismo en el Huila
      </h1>
      <div class="flex min-h-[60px] ml-auto mr-auto items-center gap-2 text-white">
        <a class="flex flex-row gap-2" (click)="toHome()">
          <img alt="Pa'lHuilaLogo" class="h-[30px] md:h-[40px] mx-auto" src="assets/img/IsotipoPalH.svg" loading="lazy">
          <span id="spanHeader" class="my-auto  font-Blinker font-extrabold text-lg md:text-3xl">Pal'Huila</span>
        </a>
        <div *ngIf="isLoginOrRegister() === false" id="searchNav" class="hidden ">
          <app-search-nav></app-search-nav>
        </div>
      </div>

    </div>

    <div class="flex items-center  gap-5 lg:ml-auto lg:order-2">
      <div *ngIf="pfp" class="relative no-close">
        <div *ngIf="messages.length > 0">
          <span class="animate-ping absolute  pointer-events-none -right-1 bottom-0 h-[18px] aspect-square rounded-full bg-red-500 opacity-75"></span>
          <span class="absolute flex flex-row justify-center items-center font-Blinker text-white  pointer-events-none -right-1 bottom-0 rounded-full h-5 w-5 bg-red-500 font-bold">{{messages.length}}</span>
        </div>


        <button (click)="expanded2 === 'cerrado' ? expanded2 = 'abierto' : expanded2 = 'cerrado'" id="buttonProfile" class="bg-primary-400 focus:outline-none focus:ring-4 focus:ring-primary-300 hover:bg-primary-700 h-[50px] w-[50px] text-white rounded-full overflow-hidden z-50">

          <img id="buttonProfile" alt="UserProfilePhoto no-close z-0" src="{{pfp}}">

          <div class="hidden absolute top-[64px] no-close right-0 w-[400%] rounded-3xl bg-primary-400 text-white justify-center items-center py-auto font-Work font-regular text-lg overflow-y-visible z-50" [class.hidden]="expanded2=='cerrado'">

            <ul class="text-left mb-0 p-2 no-close">
              <li *ngIf="userButton" (click)="navigate()" class="p-2 hover:bg-primary-600 rounded-lg cursor-pointer no-close">
                <a class="text-white flex flex-row items-center gap-2 no-close" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"></path></svg>{{displayName?.slice()}}
                </a>
              </li>
              <li (click)="navigateAdmin()" class="p-2 hover:bg-primary-600 rounded-lg cursor-pointer no-close" *ngIf="adminButton">
                <a class="text-white flex flex-row items-center gap-2 no-close" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="currentColor" d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12c5.16-1.26 9-6.45 9-12V5Zm0 3.9a3 3 0 1 1-3 3a3 3 0 0 1 3-3m0 7.9c2 0 6 1.09 6 3.08a7.2 7.2 0 0 1-12 0c0-1.99 4-3.08 6-3.08"/></svg>
                  Admin
                </a>
              </li>
              <li *ngIf="adminButton" (click)="toggleMessages()" class="p-2 hover:bg-primary-600 rounded-lg cursor-pointer no-close" >
                <a class="text-white flex flex-row items-center gap-2 no-close">
                  <div class="relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="29px" height="29px" viewBox="0 0 24 24"><g fill="none"><path d="M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036c-.01-.003-.019 0-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M12 2a7 7 0 0 0-7 7v3.528a1 1 0 0 1-.105.447l-1.717 3.433A1.1 1.1 0 0 0 4.162 18h15.676a1.1 1.1 0 0 0 .984-1.592l-1.716-3.433a1 1 0 0 1-.106-.447V9a7 7 0 0 0-7-7m0 19a3.001 3.001 0 0 1-2.83-2h5.66A3.001 3.001 0 0 1 12 21"/></g></svg>

                  <div>
                    <span *ngIf="adminButton" class="animate-ping absolute  pointer-events-none -right-1 bottom-0 h-[18px] aspect-square rounded-full bg-red-500 opacity-75"></span>
                    <span *ngIf="adminButton" class="absolute flex flex-row justify-center items-center font-Blinker text-white  pointer-events-none -right-1 bottom-0 rounded-full h-4 w-4 bg-red-500 font-bold">{{messages.length}}</span>
                  </div>
                  </div>

                   Messages
                </a>
              </li>
              <li (click)="logOut()" class="p-2 hover:bg-primary-600 rounded-lg cursor-pointer no-close" routerLink="">
                <a class="text-white flex flex-row items-center gap-2 no-close">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24"><path fill="currentColor" d="M5 22a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v3h-2V4H6v16h12v-2h2v3a1 1 0 0 1-1 1zm13-6v-3h-7v-2h7V8l5 4z"></path></svg> Cerrar Sesión
                </a>
              </li>
            </ul>
          </div>
        </button>
      </div>
      <div *ngIf="!pfp">
        <button *ngIf="isLoginOrRegister() === false" (click)="toLogin()" class="px-4 p-2 hidden md:block text-primary-400 font-bold bg-white rounded-full">
          Iniciar sesión
        </button>
        <a *ngIf="isLoginOrRegister() === true" href="https://landing.palhuila.com/" target="_blank" class="px-4 p-2 hidden md:block text-primary-400 font-bold bg-white rounded-full">
          Descargar app
        </a>
        <button (click)="toLogin()" class="block md:hidden w-[30px] aspect-square rounded-full fill-white">
          <svg viewBox="0 0 24 24" width="24px" height="24px" class="d Vb UmNoP"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.75a8.25 8.25 0 00-5.682 14.231 6.02 6.02 0 0111.364 0A8.25 8.25 0 0012 3.75zm4.41 15.224a4.52 4.52 0 00-8.82 0A8.21 8.21 0 0012 20.25a8.21 8.21 0 004.41-1.276zM2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm9.77-4.24a1.75 1.75 0 100 3.5 1.75 1.75 0 000-3.5zM8.77 9.51a3.25 3.25 0 116.5 0 3.25 3.25 0 01-6.5 0z"></path></svg>
        </button>
      </div>
    </div>

    <div class="hidden items-center  justify-between lg:flex  lg:w-auto w-full ml-auto mr-auto" id="mobile-menu-2" [class.hidden]="!expanded">
      <ul class="flex flex-col font-medium font-Work mx-auto justify-center lg:flex-row lg:items-center p-0 text-center py-auto my-auto gap-2">
        <li class="flex justify-center">
          <button (click)="toAboutUs()" class="block border-gray-100 hover:bg-primary-400 lg:border-0 text-white px-4 rounded-full py-2">
            Acerca de nosotros
          </button>
        </li>
        <li class="flex justify-center">
          <button (click)="toContact()" class="block border-gray-100 hover:bg-primary-400 lg:border-0 text-white px-4 rounded-full py-2">
            Contáctenos
          </button>
        </li>
        <li class="flex justify-center">
          <a *ngIf="isLoginOrRegister() === false" href="https://linktr.ee/palhuila" target="_blank" class="block border-gray-100 hover:bg-primary-400 lg:border-0 text-white px-4 rounded-full py-2">
            Descargar app
          </a>
          <button *ngIf="isLoginOrRegister() === true" routerLink="/municipios/Garzón"  target="_blank" class="block border-gray-100 hover:bg-primary-400 lg:border-0 text-white px-4 rounded-full py-2">
            Conocer municipios
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
