
  <app-navheader class="z-50 fixed w-full top-0">


  </app-navheader>



<!--*fin header-->


<!--!---                                                                               ----->

<!--?Sección Banner en esta sección tiene tanto el titulo principal como la busqueda-->
<div class="relative">
  <section
  id="Banner"
  class=" mt-[60px] py-10 relative bg-cover bg-center bg-no-repeat rounded-b-3xl z-30"
>
<img class="absolute w-full h-full rounded-b-3xl  object-cover  top-0" loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/centurhuila-b9e47.appspot.com/o/Banner%2F11_1.webp?alt=media&token=9f183ee7-0e75-4518-a606-450b98b6eb7f">
  <!--?Contenedor del titulo principal-->
  <div class="py-auto absolute inset-0 bg-black/40 rounded-b-3xl"></div>
  <div
    class="relative mx-auto bg:h-[250px] md:h-[400px] justify-center flex flex-col items-center"
  >
    <div class="text-center mb-[20] flex flex-col items-center border-2 border-b-0 border-white border-opacity-50 p-2">
      <h2 class="font-extrabold font-Blinker bg:text-[7vw] sm:text-[5vw] xl:text-6xl text-white">Descubre el Huila</h2>
    </div>
    <div class="text-center mb-[20] flex flex-col items-center border-2  border-white p-2 border-opacity-50">
      <h2 class="font-medium font-Blinker bg:text-[6vw] sm:text-[4vw] xl:text-4xl text-white">un paraíso de paisajes, cultura y experiencias inolvidables</h2>
    </div>
  </div>

  <!--TODO: Componente Busquedas-->

  <!-- <app-search-atractivo></app-search-atractivo> -->
  <!-- <app-search-prestador></app-search-prestador> -->
  <div class="flex flex-row justify-center">


    <app-search class="z-40"></app-search>
  </div>

</section>

</div>


<!--?fin Contenedor de la busqueda principal -->

<!--?Sección de Municipios populares-->
<section id="Municipios Populares" class="xl:w-[1280px] min-h-[500px] mx-auto mt-24">

  <!--?Contenedor de el titulo principal y parrafo explicativo-->

  <!--?Este se divide en 2 en el cual cuando llega a determinado punto de la pantalla cambia el tipo de flex y también su ancho total los dos inicialmente en pantallas pequeñas ocupa un ancho de 100% y luego en "md" ocupa 50% cada uno en total hay 2 divs-->

  <div
    class="flex bg:flex-col md:flex-row justify-center items-center mx-10"
  >
    <!--?Div 1-->
    <div class="bg:w-full md:w-[50%] text-primary-500">
      <h2 class="font-Blinker text-center text-xl md:text-2xl font-black leading-7 opacity-70 mt-6">
        ¿Dónde ir?
      </h2>
      <h3
        class="font-Blinker text-center bg:leading-5 text-3xl md:text-5xl md:leading-10 font-black mb-0"
      >
        Municipios del departamento
      </h3>
    </div>
    <!--? finDiv 1-->
    <!--?Div 2-->
    <div class="bg:w-full md:w-[50%] mt-5">
      <p
        class="font-Work text-center bg:text-sm md:text-xl m-0 bg:mb-20 xs0:mb-15 text-gray-700"
      >
          Descubre los encantos del Huila: municipios con historia, paisajes
          impresionantes y hospitalidad única. Explora cada uno de los municipios que hacen parte del departamento y vive una experiencia inolvidable.
      </p>
    </div>
    <!--?Fin Div 2-->
  </div>

  <!-- TODO: Debemos Enviar el nombre del municipio seleccionado al componente Dónde se va a mostrar -->

  <!--?Colección de municipios-->
  <!--*----------------------------------------------------------------------------------------------------------------------------->
  <div class="relative mt-5">
    <button #leftButtonMuni class="" draggable="false"
    id="leftMuni" (click)="buttonScroll('left', leftButtonMuni.id, 'carouselMuni')">
      <svg
      role="button"
      class="absolute z-40  fill-primary-500 bg-white rounded-full left-0 top-[50%] translate-y-[-50%] text-center"
      xmlns="http://www.w3.org/2000/svg"
      height="40"
      viewBox="0 -960 960 960"
      width="40"
    >
      <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
    </svg>
    </button>


    <div
      #carouselMuni
      class="carousel relative flex flex-row align-middle   overflow-x-scroll "
    >
      <div
        *ngFor="let tile of tilesData; "
        class="bg:min-w-[96.5%] sm:min-w-[calc(96.5%/2)] lg:min-w-[calc(96%/4)] aspect-square relative mx-[6.4px] overflow-hidden hover:rounded-2xl hover:scale-x-[1.04]  "
        draggable="false "
      >
        <img
        [src]="tile.img"
        fill
        [alt]="tile.alt"
        loading="lazy"
        class="w-full relative h-full object-cover filter brightness-75 rounded-2xl cursor-pointer hover:scale-125 hover:rotate-6 hover:absolute hover:z-0 hover:top-0 hover:left-0 hover:bottom-0 hover:right-0 hover:mx-auto hover:my-auto hover:rounded-2xl hover:transition hover:duration-400  hover:ease-in-out  select-none"
        draggable="false"
        (click)="enviarInformacion(tile.title)"
        />
        <h3
          class="absolute top-2 left-2 z-0 font-Blinker font-black text-4xl text-white pointer-events-none select-none"
          draggable="false"
        >
          {{ tile.title }}
        </h3>
      </div>
    </div>

    <button #rightButtonMuni class="" draggable="false"
    id="rightMuni"  (click)="buttonScroll('right', rightButtonMuni.id, 'carouselMuni')">
      <svg
      role="button"
      class="absolute z-40 cursor-pointer fill-primary-500 bg-white rounded-full right-0 top-[50%] translate-y-[-50%] text-center"
      xmlns="http://www.w3.org/2000/svg"
      height="40"
      viewBox="0 -960 960 960"
      width="40"
    >
      <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
    </svg>
    </button>

  </div>
<!--*----------------------------------------------------------------------------------------------------------------------------->
  <!--?Fin Colección de municipios-->

  <!--?Fin del Contenedor de el titulo principal y parrafo explicativo-->
</section>
<!--?fin Sección de Municipios populares-->

  <!-- TODO: FIN DE LA TAREA -->

<!--?Sección de Categorias más buscadas-->


<!--?fin Sección de Categorias más buscadas-->


<!--?Sección Rutas-->
<section id="Rutas" class="border border-y-[4px] min-h-[900px] border-opacity-10 border-x-0 border-primary-500 my-10 w-full mx-auto">
  <div class="relative bg:w-full xl:w-[1280px] h-full mx-auto py-10 flex flex-col justify-center ">



    <div class="flex flex-col md:flex-row px-5 min-h-[500px]">
      <div class="w-full md:w-[50%] bg-white rounded-b-xl px-5   text-gray-600 text-center  overflow-y-auto" >
        <svg role="img" xmlns="http://www.w3.org/2000/svg" height="70" viewBox="0 -960 960 960" width="70" class="fill-primary-500 mx-auto"><path d="m600-120-240-84-186 72q-20 8-37-4.5T120-170v-560q0-13 7.5-23t20.5-15l212-72 240 84 186-72q20-8 37 4.5t17 33.5v560q0 13-7.5 23T812-192l-212 72Zm-40-98v-468l-160-56v468l160 56Zm80 0 120-40v-474l-120 46v468Zm-440-10 120-46v-468l-120 40v474Zm440-458v468-468Zm-320-56v468-468Z"/></svg>
        <h2 class="font-Blinker text-primary-500  text-center bg:leading-9 text-4xl md:text-5xl md:leading-10 font-black mb-5">Rutas Turísticas</h2>
        <h3 class="py-5 font-Work text-center md:text-left bg:text-sm md:text-lg m-0 bg:mb-20 xs0:mb-10 text-gray-700">{{actualRuta?.descripcion}}</h3>

      </div>
    <div class="w-full md:w-[50%] relative bg-primary-500 text-white text-center rounded-xl overflow-hidden" >
      <div id="map" class=" w-full min-h-[300px] mt-auto z-0"></div>
      <button #leftButtonRuta class="" draggable="false"
      id="leftRuta" (click)="changeRoute('left')">
        <svg
        role="button"
        class="absolute z-40 cursor-pointer fill-primary-500 bg-white rounded-full left-0 top-[50%] translate-y-[-50%] text-center"
        xmlns="http://www.w3.org/2000/svg"
        height="40"
        viewBox="0 -960 960 960"
        width="40"
      >
        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
      </svg>
      </button>
      <h3 class="pt-5 font-bold font-Blinker text-4xl">{{actualRuta?.name}}</h3>
      <h3 class="py-5 font-medium font-Blinker text-xl">Agencia: {{actualRuta?.agenciaDeViajes}}</h3>
      <button class="bg-none border-2 font-black border-white hover:bg-white  text-white hover:text-primary-500 mx-auto flex   text-xl py-2 px-10 rounded-full"><a target="_blank" href="{{actualRuta?.googleMaps}}">Descubrir ruta!</a></button>
      <button #rightButtonRuta class="" draggable="false"
        id="rightRuta"  (click)="changeRoute('right')">

    <svg
    role="button"
    class="absolute z-40 cursor-pointer fill-primary-500 bg-white rounded-full right-0 top-[50%] translate-y-[-50%] text-center"
    xmlns="http://www.w3.org/2000/svg"
    height="40"
    viewBox="0 -960 960 960"
    width="40"
  >
    <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
  </svg></button>

    </div>

    </div>

  </div>



</section>
<!--?Fin Sección Rutas-->

<!--?Sección Sitios más populares-->

<section id="Sitios más poulares" class="bg-white  flex flex-col justify-center items-center  w-full mx-auto mt-20">
  <div class="bg:w-full xl:w-[1280px] mx-auto  justify-center ">
    <h2 class="font-Blinker px-10 text-primary-500 text-center  md:text-left bg:leading-9 text-4xl md:text-5xl md:leading-10 font-black mb-5">Sitios más populares</h2>
    <p class="font-Work text-center md:text-center bg:text-sm md:text-xl m-0 bg:mb-20 xs0:mb-10 text-gray-700">Destinos mágicos que te sorprenderán en cada paso. Sumérgete en la historia, maravíllate con paisajes impresionantes y disfruta de la autenticidad de su gente. Explora nuestras recomendaciones y vive una aventura inolvidable en cada destino.</p>
    <div class="relative">
      <button #leftButtonPresta class="" draggable="false"
      id="leftPresta" (click)="buttonScroll('left', leftButtonPresta.id, 'carouselPresta')">
        <svg
        role="button"
        class="absolute z-40 cursor-pointer fill-primary-500 bg-white rounded-full left-0 top-[50%] translate-y-[-50%] text-center"
        xmlns="http://www.w3.org/2000/svg"
        height="40"
        viewBox="0 -960 960 960"
        width="40"
      >
        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
      </svg>
      </button>


      <div
        #carouselPresta
        class="carousel relative flex flex-row align-middle   overflow-x-scroll gap-3 min-h-[500px]  "
      >
        <div
          *ngFor="let tile of prestadoresrandom;let i = index; "
          class="bg:min-w-[96.5%] sm:min-w-[calc(100%/2)] lg:min-w-[calc(97.5%/3)] aspect-square relative  overflow-hidden hover:rounded-2xl  rounded:2xl rounded-2xl  "
          draggable="false "
        >
        <div class="w-full h-full bg-white rounded-2xl">
          <div class="w-full h-[65%] relative flex flex-col justify-center ">
            <div class="relative w-full h-full mx-auto my-auto flex flex-col justify-center items-center">

              <img  (click)="navigate(tile)"
              src="{{tile.pathImagePortada.url}}"
              class="w-full h-full object-cover filter brightness-75 mx-auto my-auto cursor-pointer "
              alt="{{tile.name}}Image"
              loading="lazy"
              draggable="false"
            />
    <!--*Boton de guardar-->
           <button (click)="save(tile); " id="save" class="absolute bottom-2 right-14  active:bg-slate-200 bg-white rounded-full w-10 h-10 flex justify-center items-center">
            <img *ngIf="tile.bienOLugar && !userDetails?.atractivosSave?.includes(tile.id)" class="w-[30px]" src="assets/img/save.svg">
            <img *ngIf="tile.servicios && !userDetails?.prestadoresSave?.includes(tile.id)" class="w-[30px]" src="assets/img/save.svg">
            <img *ngIf="tile.bienOLugar && userDetails?.atractivosSave?.includes(tile.id)" class="w-[30px]" src="assets/img/saveON.svg">
            <img *ngIf="tile.servicios && userDetails?.prestadoresSave?.includes(tile.id)" class="w-[30px]" src="assets/img/saveON.svg">
          </button>
            <!--*Boton de me gusta-->
           <button (click)="meGusta(tile)" id="like"  class="absolute bottom-2 right-2 active:bg-slate-200 bg-white rounded-full w-10 h-10 flex justify-center items-center">
            <img *ngIf="tile.bienOLugar && !userDetails?.atractivosMeGusta?.includes(tile.id)" class="w-[30px]" src="assets/img/heart.svg">
            <img *ngIf="tile.servicios && !userDetails?.prestadoresMeGusta?.includes(tile.id)" class="w-[30px]" src="assets/img/heart.svg">
            <img *ngIf="tile.bienOLugar && userDetails?.atractivosMeGusta?.includes(tile.id)" class="w-[30px]" src="assets/img/heartON.svg">
            <img *ngIf="tile.servicios && userDetails?.prestadoresMeGusta?.includes(tile.id)" class="w-[30px]" src="assets/img/heartON.svg">

           </button>
            </div>
          </div>

          <div  class="absolute bottom-0 w-full h-[35%]  rounded-b-xl text-lg px-2 leading-5 font-Blinker justify-center py-2 text-white border-2 border-t-0  border-opacity-50">
            <h3 (click)="navigate(tile)" class="text-2xl font-extrabold text-center leading-6 cursor-pointer  text-primary-500">{{tile.name}}</h3>
            <h4 class="text-xl font-medium text-center leading-5 mb-2 flex flex-row justify-center text-primary-500"><svg role="img" class="fill-primary-500 stroke-2" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>{{tile.municipio}}</h4>
            <p class="text-lg leading-5 text-center overflow-hidden text-gray-500 font-Work" style="-webkit-line-clamp: 3; -webkit-box-orient: vertical;  display: -webkit-box">{{tile.descripcion}}</p>
        </div>
        </div>

        </div>
      </div>

      <button #rightButtonPresta class="" draggable="false"
      id="rightPresta"  (click)="buttonScroll('right', rightButtonPresta.id, 'carouselPresta')">
        <svg
        role="button"
        class="absolute z-40 cursor-pointer fill-primary-500 bg-white rounded-full right-0 top-[50%] translate-y-[-50%] text-center"
        xmlns="http://www.w3.org/2000/svg"
        height="40"
        viewBox="0 -960 960 960"
        width="40"
      >
        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
      </svg>
      </button>

    </div>

  </div>
  <button [routerLink]="['/busqueda-prestador']" class="bg-primary-500 hover:bg-primary-400 mt-8 text-white text-xl font-semibold py-2 px-10 rounded-full">Descubre más</button>
</section>


<!--?Fin Sección más populares-->

<!--?Sección Eventos-->
<!-- <section id="Sitios más poulares" class="bg-white h-[500px]  w-full mx-auto my-20">
  <div class="bg:w-full xl:w-[1280px] mx-auto py-10">
    <h2 class="font-Blinker text-primary-500  text-center bg:leading-9 text-4xl md:text-5xl md:leading-10 font-black mb-5">EVENTOS PROXIMOS EN EL HUILA</h2>
    <div class="relative">
      <svg
        role="button"
        #arrowButtons
        id="left"
        class="absolute z-40 cursor-pointer fill-primary-500 bg-white rounded-full left-0 top-[50%] translate-y-[-50%] text-center"
        xmlns="http://www.w3.org/2000/svg"
        height="60"
        viewBox="0 -960 960 960"
        width="60"
      >
        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
      </svg>

      <div
        #carousel
        class="carousel relative flex flex-row align-middle overflow-hidden max-h-[500px] h-[500px]"
      >
        <div
          *ngFor="let tile of tilesData"
          class="bg:min-w-[87%]  bg-white rounded-xl py-10 sm:min-w-[calc(96.5%/2)] lg:min-w-[calc(96%/3)] h-[500px] max-h-[500px] relative ml-3 overflow-hidden"
          draggable="false"
        >
        <div class="w-full h-[70%] relative"><img
          ngSrc="{{tile.img}}"
          fill
          alt=""
          loading="lazy"
          class="w-full h-full object-cover filter brightness-75 mx-auto my-auto rounded-t-xl"
          draggable="false"

        /></div>

          <div class="flex flex-col h-[30%] w-full  m-0 p-0 bg-slate-100 text-gray-600  text-center text-lg px-2 absolute  font-Blinker justify-center"><h4 class=" text-primary-900 text-left text-2xl w-full m-0 leading-3 font-black">{{tile.title}} Evento chevere</h4><h5 class="text-left w-full text-sm leading-3 my-2 font-Work">22 de julio</h5> <p  style="-webkit-line-clamp: 3; -webkit-box-orient: vertical;  display: -webkit-box;" class="text-left w-full text-sm leading-4 my-2 font-Work overflow-hidden">hola buenas esto es un evento increible que corrirá tal dia a tal hora y dal segundo determinado puede avr muertos y etc y demás cosas que se puedan encontrar en un evento popular de un municipio del Huila</p>
            <button class="w-20 ml-auto text-primary-500 font-bold">Ver más ></button>
          </div>

          </div>

      </div>
      <svg
        role="button"
        #arrowButtons
        id="right"
        class="absolute z-40 cursor-pointer fill-primary-500 bg-white rounded-full right-0 top-[50%] translate-y-[-50%] text-center"
        xmlns="http://www.w3.org/2000/svg"
        height="60"
        viewBox="0 -960 960 960"
        width="60"
      >
        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
      </svg>

    </div>

  </div>

</section> -->
<!--?Fin Sección Eventos-->

<!--?Sección Gastronomia-->

<section id="Gastronomia" class="bg-[#E3E300] bg-opacity-5  h-[7  00px]  w-full mx-auto mt-20 pb-20">
  <div class="bg:w-full xl:w-[1280px] mx-auto py-10 flex flex-col">
    <h2 class="font-Blinker text-primary-500  text-center bg:leading-9 text-4xl md:text-5xl md:leading-10 font-black mb-5 mt-16">Gastronomia Huilense</h2>
    <div class="w-full relative">
      <img  alt="Gastronomia" [src]="selectGastronomySrc ? selectGastronomySrc : gastronomySRC[0]"
       class="filter brightness-50 w-full bg:h-[400px] md:h-[600px] object-cover rounded-xl "
       >
      <div class="absolute px-10 bg:bottom-[5%] md:bottom-[20%]">
        <h3 class=" text-white  bg:text-3xl md:text-5xl font-bold font-Blinker"><strong>Tu guía definitiva para disfrutar del sabor del Huila</strong></h3>
        <h4 class=" text-white  bg:text-lg md:text-2xl font-medium md:mb-5"> Descubre los secretos culinarios de la región.</h4>
        <button (click)="toGastronomy()" class="px-10 ml-auto bg-white rounded-full py-2 text-primary-500 font-bold text-xl">Descubre más</button>
      </div>

    </div>


  </div>

</section>

<!--?Fin Sección Gastronomia-->

<!--?Sección Atractivos-->

<section id="Atractivos Naturales" class="bg-slate-100 bg-opacity-50  flex flex-col justify-center items-center  w-full mx-auto">
  <div class="bg:w-full xl:w-[1280px] mx-auto mt-28 ">
    <h2 class="font-Blinker px-10 mb-5 text-primary-500  text-left bg:leading-9 text-4xl md:text-5xl md:leading-10 font-black ">Atractivos Naturales</h2>
    <h3 class="font-Work px-10 text-gray-600  text-left  text-lg md:text-xl  font-medium mb-10">Atractivos que cautivan a millones de viajeros cada año. Descubre los lugares más emblemáticos, sumérgete en su cultura y deleita tus sentidos con paisajes deslumbrantes. Explora nuestras recomendaciones y experimenta momentos inolvidables en cada atracción.</h3>
    <div class="relative">
      <button #leftButtonAtrac class="" draggable="false"
      id="leftAtrac" (click)="buttonScroll('left', leftButtonAtrac.id, 'carouselAtrac')">
        <svg
        role="button"
        class="absolute z-40 cursor-pointer fill-primary-500 bg-white rounded-full left-0 top-[50%] translate-y-[-50%] text-center"
        xmlns="http://www.w3.org/2000/svg"
        height="40"
        viewBox="0 -960 960 960"
        width="40"
      >
        <path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z" />
      </svg>
      </button>


      <div
        #carouselAtrac
        class="carousel relative flex flex-row align-middle min-h-[500px]   overflow-x-scroll gap-3 "
      >
        <div
          *ngFor="let tile of atractivosrandom;let i = index; "
          class="bg:min-w-[96.5%] sm:min-w-[calc(100%/2)] lg:min-w-[calc(97.5%/3)] aspect-square relative  overflow-hidden hover:rounded-2xl  rounded:2xl rounded-2xl  "
          draggable="false "
        >
        <div class="w-full h-full bg-white rounded-2xl">
          <div class="w-full h-[65%] relative flex flex-col justify-center ">
            <div class="relative w-full h-full mx-auto my-auto flex flex-col justify-center items-center">

              <img
              (click)="navigate(tile)"
              src="{{tile.pathImagePortada.url}}"
              class="w-full h-full object-cover filter brightness-75 mx-auto my-auto cursor-pointer "
              alt="{{tile.name}}Image"
              loading="lazy"
              draggable="false"
            />
                          <!--*Boton de guardar-->
                          <button (click)="save(tile)" id="save" class="absolute bottom-2 right-14  active:bg-slate-200 bg-white rounded-full w-10 h-10 flex justify-center items-center">
                            <img *ngIf="tile.bienOLugar && !userDetails?.atractivosSave?.includes(tile.id)" class="w-[30px]" src="assets/img/save.svg">
                            <img *ngIf="tile.servicios && !userDetails?.prestadoresSave?.includes(tile.id)" class="w-[30px]" src="assets/img/save.svg">
                            <img *ngIf="tile.bienOLugar && userDetails?.atractivosSave?.includes(tile.id)" class="w-[30px]" src="assets/img/saveON.svg">
                            <img *ngIf="tile.servicios && userDetails?.prestadoresSave?.includes(tile.id)" class="w-[30px]" src="assets/img/saveON.svg">
                          </button>
                            <!--*Boton de me gusta-->
                           <button (click)="meGusta(tile)" id="like"  class="absolute bottom-2 right-2 active:bg-slate-200 bg-white rounded-full w-10 h-10 flex justify-center items-center">
                            <img *ngIf="tile.bienOLugar && !userDetails?.atractivosMeGusta?.includes(tile.id)" class="w-[30px]" src="assets/img/heart.svg">
                            <img *ngIf="tile.servicios && !userDetails?.prestadoresMeGusta?.includes(tile.id)" class="w-[30px]" src="assets/img/heart.svg">
                            <img *ngIf="tile.bienOLugar && userDetails?.atractivosMeGusta?.includes(tile.id)" class="w-[30px]" src="assets/img/heartON.svg">
                            <img *ngIf="tile.servicios && userDetails?.prestadoresMeGusta?.includes(tile.id)" class="w-[30px]" src="assets/img/heartON.svg">

                           </button>
            </div>
          </div>

          <div  class="absolute bottom-0 w-full h-[35%]  rounded-b-xl text-lg px-2 leading-5 font-Blinker justify-center py-2 text-white border-2 border-t-0  border-opacity-50">
            <h3 (click)="navigate(tile)" class="text-2xl font-extrabold text-center leading-6  text-primary-500 cursor-pointer">{{tile.name}}</h3>
            <h4 class="text-xl font-medium text-center leading-5 mb-2 flex flex-row justify-center text-primary-500"><svg role="img" class="fill-primary-500 stroke-2" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>{{tile.municipio}}</h4>
            <p class="text-lg leading-5 text-center overflow-hidden text-gray-500 font-Work" style="-webkit-line-clamp: 3; -webkit-box-orient: vertical;  display: -webkit-box">{{tile.descripcion}}</p>
        </div>
        </div>

        </div>
      </div>

      <button #rightButtonAtrac class="" draggable="false"
      id="rightAtrac"  (click)="buttonScroll('right', rightButtonAtrac.id, 'carouselAtrac')">
        <svg
        role="button"
        class="absolute z-40 cursor-pointer fill-primary-500 bg-white rounded-full right-0 top-[50%] translate-y-[-50%] text-center"
        xmlns="http://www.w3.org/2000/svg"
        height="40"
        viewBox="0 -960 960 960"
        width="40"
      >
        <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
      </svg>
      </button>

    </div>

  </div>
  <button [routerLink]="['/busqueda-atractivo']" class="bg-primary-500 hover:bg-primary-400 mt-8 text-white text-xl font-semibold py-2 px-10 rounded-full">Descubre más</button>
</section>





<!--?Fin Sección Atractivos -->





<!--?Sección "contactenos"-->
<section  #contacto  id="contacto"   class="bg-slate-100 bg-opacity-50 pt-24   pb-24"
style="clip-path: ellipse(80% 100% at center top)" >
  <!-- ?Fondo verde oscuro en forma de elipse -->
  <div
  class="bg-primary-500 pt-24  pb-24"
  style="clip-path: ellipse(80% 100% at center top)"
  >
    <div class="xl:w-[1280px] mx-auto flex flex-col">
      <h6
        class="text-center font-Blinker font-black text-white bg:text-5xl xl:text-6xl 4xl:text-8xl"
      >
        ¡Anímate a contactarnos!
      </h6>
      <hr
        class="border-primary-200 opacity-100 border-4 w-[80%] mx-auto my-0"
      />
      <span *ngIf="submitted && form.invalid" class="text-center bg-green-700 text-red-600">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
      <div class="flex" >
        <form
          action="https://api.web3forms.com/submit"
          class="mt-10 mx-auto xl:w-[1280px] bg:w-full px-10"
          [formGroup]="form"
          (ngSubmit)="agregarMail()"
        >
          <!-- This is a working contact form.
             Get your free access key from: https://web3forms.com/  -->

          <div class="grid xl:grid-col-3">
            <div class="relative z-0 mr-5">
              <input
                formControlName="nombre"
                autocomplete="name"
                type="text"
                name="name"
                id="name"
                class="peer block w-full bg-white border-0 border-b rounded-md border-white py-2.5 px-3 text-base font-semibold focus:placeholder:text-white text-black focus:border-blue-600 focus:outline-none focus:ring-0"
                placeholder="Tu nombre"
              />
              <label for="name"
                class="absolute top-3 -z-10 origin-[0] -translate-y-10 scale-75 transform text-xl text-white font-semibold duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-10 peer-focus:scale-75"
                >Tu nombre</label
              >
            </div>
            <div class="relative z-0 ml-5">
              <input
                formControlName="correo"
                id="email"
                autocomplete="email"
                type="text"
                name="email"
                class="peer block w-full appearance-none border-0 border-b rounded-md border-white bg-white py-2.5 px-3 text-base font-semibold focus:placeholder:text-white text-black focus:border-blue-600 focus:outline-none focus:ring-0 "
                placeholder="Tu email"
              />
              <label for="email"
                class="absolute top-3 -z-10 origin-[0] -translate-y-10 scale-75 transform text-xl text-white font-semibold duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-10 peer-focus:scale-75"
                >Tu email</label
              >
            </div>
            <div class="relative z-0 col-span-2 mt-10">
              <textarea
                formControlName="mensaje"
                id="message"
                name="message"
                rows="5"
                class="peer block min-h-[100px] w-full appearance-none border-0 border-b rounded-md border-white bg-white py-2.5 px-3 text-base font-semibold focus:placeholder:text-white text-black focus:border-blue-600 focus:outline-none focus:ring-0 "
                placeholder="Tu mensaje"
              ></textarea>
              <label for="message"
                class="absolute top-3 -z-10 origin-[0] -translate-y-10 scale-75 transform text-xl text-white font-semibold duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-10 peer-focus:scale-75"
                >Tu mensaje</label
              >
            </div>
          </div>
          <div class="flex justify-center">
            <button
              type="submit"
              class="mt-5 rounded-full bg-white px-14 py-2 text-primary-500 text-xl font-Blinker font-bold"
            >
              Enviar mensaje
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--?fin Sección "contactenos"-->

<!--!---                                                                               ----->

<!--*footer-->
<app-navfooter></app-navfooter>
<!--*fin footer-->
