<router-outlet class="absolute"></router-outlet>
<app-navheader></app-navheader>

<main class="bg-black bg-opacity-5 gap-5 flex flex-col min-h-full ">
<div class="w-full  min-h-[350px]  relative flex justify-center mb-5">
  <div class="w-full max-h-[350px] overflow-hidden  flex justify-center rounded-b-3xl">
    <img *ngIf="user?.bannerImg != null" class="w-full h-full object-cover object-center " src="{{user?.bannerImg}}" >
    <div *ngIf="user?.bannerImg === null" class="w-full h-full object-cover object-center  bg-black opacity-20 " ></div>
  </div>
  <div class="bg-white absolute w-full min-h-[200px] rounded-md p-5 -bottom-10 xl:max-w-[1280px] z-30">
    <div *ngIf="user?.uid === userauth?.uid" class="absolute right-5"><button (click)="modaledit()" class="rounded-xl flex flex-row border bg:px-2 md:px-3 py-2 font-work font-semibold"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>Editar</button></div>
    <div class="flex flex-col justify-center items-center"><span class="bg:w-[80px] md:w-[100px] bg:h-[80px] md:h-[100px] max-w-[100px] max-h-[100px] rounded-full bg-black bg-opacity-5 overflow-hidden"><img *ngIf="user?.fotoUser != null" src="{{user?.fotoUser}}" class="w-full h-full object-cover object-center" ></span>
    </div>
    <h3 class="flex flex-row justify-center font-work text-lg font-semibold">@{{user?.userName}}</h3>
    <h4 class="flex flex-row justify-center font-work text-2xl font-bold">{{user?.nombre}}</h4>

    <div id="Paginación servicios" class="flex flex-row justify-center gap-5 px-2 mt-2">
      <button (click)="buttonPag(item); currentPage=1" *ngFor="let item of buttonPags" [ngClass]="{'border-b-4 border-primary-500':pag === item}"  class="font-Work text-sm"><span *ngIf="userauth.uid === user?.uid">Mis {{item}}</span><span *ngIf="userauth.uid !== user?.uid">{{item}}</span></button>
    </div>
  </div>
  </div>

  <div class="xl:w-[1280px] w-full  max-w-[1280px] relative mx-auto flex md:flex-row flex-col gap-5 mt-5 mb-20">
    <div class="w-full md:w-[30%] md:max-w-[27%] min-h-[300px] max-h-[350px] bg-white px-4 py-5 rounded-lg flex flex-col ">
      <span class="text-xl font-Blinker font-semibold text-center">Descripción</span>

      <div class="flex flex-col gap-4 mt-5 text-gray-600 font-Blinker">
        <span *ngIf="user?.ubicacion || user?.uid === userauth.uid"  id="ubicacion" class=" flex flex-row items-center ">
          <button (click)="modaledit()" *ngIf="!user?.ubicacion && user?.uid === userauth.uid" class=" h-[20px] opacity-50 flex flex-row items-center"><svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>Agregar ubicación</button>{{ user?.ubicacion === null || user?.ubicacion === undefined ? '' : user?.ubicacion }}
        </span>
        <span  *ngIf="user?.fechaCreacion|| user?.uid === userauth.uid"   id="accountDcreate" class="   flex flex-row items-center">
          <button (click)="modaledit()" *ngIf="!user?.fechaCreacion && user?.uid === userauth.uid" class="h-[20px] opacity-50 flex flex-row items-center"><svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg></button>{{ user?.fechaCreacion === null || user?.fechaCreacion === undefined ? ':D' : 'Se unió el: ' + (user?.fechaCreacion | date:'yyyy-MM-dd') }}
        </span>
        <span *ngIf="user?.fechaUltimoLogin || user?.uid === userauth.uid"   id="accountDlast" class="   flex flex-row items-center">
          <button (click)="modaledit()" *ngIf="!user?.fechaUltimoLogin && user?.uid === userauth.uid" class="h-[20px] opacity-50 flex flex-row items-center"><svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
          </button>            {{ user?.fechaUltimoLogin === null || user?.fechaUltimoLogin === undefined ? ':D' : 'Visto ultima vez: ' + (user?.fechaUltimoLogin | date:'yyyy-MM-dd, HH:mm:ss') }}
        </span>
        <span *ngIf="user?.descripcion || user?.uid === userauth.uid" id="descripcion" class="flex flex-row items-center">
          <button (click)="modaledit()" *ngIf="!user?.descripcion && user?.uid === userauth.uid" class="max-w-[30%] opacity-50 flex flex-row items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
              <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
            </svg>
            Agregar descripcion
          </button>
          <span class="flex-wrap overflow-hidden h-full break-all">{{ user?.descripcion }}</span>
        </span>
        <span *ngIf="user?.numeroTel || user?.uid === userauth.uid" id="numeroTel" class="   flex flex-row items-center">
          <button (click)="modaledit()" *ngIf="!user?.numeroTel && user?.uid === userauth.uid" class="h-[20px] opacity-50 flex flex-row items-center"><svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>Agregar cel</button>

          <a *ngIf="user?.numeroTel" href="tel:{{user.numeroTel}}" class="w-[50%] flex">
            <!--!CELULAR 1-->
            <span class=""
              ><svg role="img" class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M793.126-99q-121.224 0-244.675-58Q425-215 320.5-319t-163-228.959Q99-672.919 99-792.252q0-29.177 20-49.462Q139-862 168-862h135q31.389 0 51.194 16.5Q374-829 380-798l26.929 105.641Q409-666 403.5-645.133q-5.5 20.866-20.729 34.359L281-517q20 36 46.5 68.5T385-387q33 36 67 61.5t69 44.5l99-99q16-18 37.826-24.5Q679.651-411 704-405l95 22q29.688 9 46.344 29.044Q862-333.912 862-304v136q0 29.571-20.357 49.286Q821.286-99 793.126-99ZM235-598l81-76-21.962-96H192q1 36 9.457 77.941T235-598Zm370 365q35 17 79 28t86 14v-.5.5-103.822L682-315l-77 82ZM235-598Zm370 365Z"/></svg></span
            ><span
              class="flex flex-row "
              >{{ user?.numeroTel }}
              <img
                class="w-[15px] max-w-[15px] min-w-[15px]"
                src="assets/img/arrow.svg"
            /></span>
          </a>
        </span>
      </div>

    </div>
    <div class="w-full md:w-[75%]   ">
      <div *ngIf="pag==='Sitios'" class="w-full h-full p-3">

        <!--!Sección de los listados de los servicios del municipio-->
    <section  id="ListadosMunicipios" class="">

      <div  class="flex flex-col my-5 gap-5 mx-3 sm:mx-0">

          <!--todo ESTOOOOOOOOOO ES LO QUE SE VA REPETIR-->           <!--CARD ITERATIVO-->
        <!--*Sección de imagen-->

        <ng-container *ngFor="let item of litadoPrestadoresyAtractivosS | paginate: { itemsPerPage: 10, currentPage: page }; let i = index; trackBy: trackByFn">
          <div class="w-full relative sm:min-h-[300px]  gap-5 bg-white rounded-2xl border-black border-4 border-opacity-10 mb-5 flex bg:flex-col sm:flex-row">

              <!--!Div principal imagen-->
          <div class=" bg:w-full sm:min-w-[300px] sm:min-h-[300px] sm:max-h-[300px] sm:max-w-[300px] relative overflow-hidden">
            <!--*imagen-->
            <div class="relative max-w-full w-[100%] min-h-[300px] aspect-rato-1-1 overflow-hidden
              mx-0 px-0 flex justify-center items-center">

              <img [src]="item.pathImagePortada?.url" class="rounded-lg my-auto h-full w-full object-cover mx-auto z-0 ">
<!--*Boton de guardar-->
           <button (click)="save(item); " id="save" class="absolute bottom-2 right-14  active:bg-slate-200 bg-white rounded-full w-10 h-10 flex justify-center items-center">
            <img *ngIf="dataLoaded && item.bienOLugar && !userDetails?.atractivosSave?.includes(item.id)" class="w-[30px]" src="assets/img/save.svg">
            <img *ngIf="dataLoaded && item.servicios && !userDetails?.prestadoresSave?.includes(item.id)" class="w-[30px]" src="assets/img/save.svg">
            <img *ngIf="dataLoaded && item.bienOLugar && userDetails?.atractivosSave?.includes(item.id)" class="w-[30px]" src="assets/img/saveON.svg">
            <img *ngIf="dataLoaded && item.servicios && userDetails?.prestadoresSave?.includes(item.id)" class="w-[30px]" src="assets/img/saveON.svg">
          </button>
            <!--*Boton de me gusta-->
           <button (click)="meGusta(item)" id="like"  class="absolute bottom-2 right-2 active:bg-slate-200 bg-white rounded-full w-10 h-10 flex justify-center items-center">
            <img *ngIf="dataLoaded && item.bienOLugar && !userDetails?.atractivosMeGusta?.includes(item.id)" class="w-[30px]" src="assets/img/heart.svg">
            <img *ngIf="dataLoaded && item.servicios && !userDetails?.prestadoresMeGusta?.includes(item.id)" class="w-[30px]" src="assets/img/heart.svg">
            <img *ngIf="dataLoaded && item.bienOLugar && userDetails?.atractivosMeGusta?.includes(item.id)" class="w-[30px]" src="assets/img/heartON.svg">
            <img *ngIf="dataLoaded && item.servicios && userDetails?.prestadoresMeGusta?.includes(item.id)" class="w-[30px]" src="assets/img/heartON.svg">

           </button>
            </div>

        </div>
        <!--!Div secundario información-->

        <div class="relative flex flex-col w-full h-[300px] sm:py-5 px-5">
          <span id="contadorCards" class="font-light font-Blinker text-2xl text-primary-500">{{(page - 1) * 10 + i + 1}}.</span>
          <h4 id="tituloCard" class="font-bold font-Blinker text-3xl text-gray-800 leading-7">{{item.name}}</h4>
          <h5 id="ubicaciónCard" class="flex flex-row text-lg font-work font-semibold items-center text-gray-500 fill-gray-500"><svg role="img" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>{{item.municipio}}</h5>
          <p id="descripciónCard" class="overflow-hidden font-Work bg:text-lg md:text-lg text-gray-700 my-auto"  style="-webkit-line-clamp: 3; -webkit-box-orient: vertical;  display: -webkit-box;" >{{item.descripcion}}</p>
          <button
          (click)="navigate(item)"

          class="flex flex- items-center w-[50%] xl:w-[300px] mx-auto sm:mx-0 bg-primary-500 rounded-full py-2 border-[1.5px] text-center text-white font-bold justify-center px-[2px]"
        >
          Ver más
        </button>

        </div>

          </div>




      </ng-container>

                <!--todo ESTOOOOOOOOOO ES LO QUE SE VA REPETIR-->           <!--CARD ITERATIVO-->




      </div>
      <!-- Paginación propia de la librería que importamos -->
      <div class="flex flex-row justify-center">
        <pagination-controls nextLabel="" previousLabel="" class="custom-pagination " (pageChange)="page = $event;"></pagination-controls>
      </div>
      <!-- <button (click)="cargarMasDocumentos()" class="bg-primary-500 hover:bg-primary-400 mt-8 text-white text-xl font-semibold py-2 px-10 rounded-full flex flex-row justify-center mx-auto">Ver más</button> -->


    </section>


      </div>
      <div *ngIf="pag==='Likes'" class="w-full h-full p-3">


        <!--!Sección de los listados de los servicios del municipio-->
    <section  id="ListadosMunicipios" class="">

      <div  class="flex flex-col my-5 gap-5 mx-3 sm:mx-0">

          <!--todo ESTOOOOOOOOOO ES LO QUE SE VA REPETIR-->           <!--CARD ITERATIVO-->
        <!--*Sección de imagen-->

        <ng-container *ngFor="let item of litadoPrestadoresyAtractivosL | paginate: { itemsPerPage: 10, currentPage: page }; let i = index; trackBy: trackByFn">
          <div class="w-full relative sm:min-h-[300px]  gap-5 bg-white rounded-2xl border-black border-4 border-opacity-10 mb-5 flex bg:flex-col sm:flex-row">

              <!--!Div principal imagen-->
          <div class=" bg:w-full sm:min-w-[300px] sm:min-h-[300px] sm:max-h-[300px] sm:max-w-[300px] relative">
            <!--*imagen-->
            <div class="relative max-w-full w-[100%] min-h-[300px] aspect-rato-1-1 overflow-hidden
              mx-0 px-0 flex justify-center items-center">

              <img [src]="item.pathImagePortada?.url" class="rounded-lg my-auto h-full w-full object-cover mx-auto ">
              <!--*Boton de guardar-->
        <!--*Boton de guardar-->
        <button (click)="save(item); " id="save" class="absolute bottom-2 right-14  active:bg-slate-200 bg-white rounded-full w-10 h-10 flex justify-center items-center">
          <img *ngIf="dataLoaded && item.bienOLugar && !userDetails?.atractivosSave?.includes(item.id)" class="w-[30px]" src="assets/img/save.svg">
          <img *ngIf="dataLoaded && item.servicios && !userDetails?.prestadoresSave?.includes(item.id)" class="w-[30px]" src="assets/img/save.svg">
          <img *ngIf="dataLoaded && item.bienOLugar && userDetails?.atractivosSave?.includes(item.id)" class="w-[30px]" src="assets/img/saveON.svg">
          <img *ngIf="dataLoaded && item.servicios && userDetails?.prestadoresSave?.includes(item.id)" class="w-[30px]" src="assets/img/saveON.svg">
        </button>
          <!--*Boton de me gusta-->
         <button (click)="meGusta(item)" id="like"  class="absolute bottom-2 right-2 active:bg-slate-200 bg-white rounded-full w-10 h-10 flex justify-center items-center">
          <img *ngIf="dataLoaded && item.bienOLugar && !userDetails?.atractivosMeGusta?.includes(item.id)" class="w-[30px]" src="assets/img/heart.svg">
          <img *ngIf="dataLoaded && item.servicios && !userDetails?.prestadoresMeGusta?.includes(item.id)" class="w-[30px]" src="assets/img/heart.svg">
          <img *ngIf="dataLoaded && item.bienOLugar && userDetails?.atractivosMeGusta?.includes(item.id)" class="w-[30px]" src="assets/img/heartON.svg">
          <img *ngIf="dataLoaded && item.servicios && userDetails?.prestadoresMeGusta?.includes(item.id)" class="w-[30px]" src="assets/img/heartON.svg">

         </button>
            </div>

        </div>
        <!--!Div secundario información-->

        <div class="relative flex flex-col w-full h-[300px] sm:py-5 px-5">
          <span id="contadorCards" class="font-light font-Blinker text-2xl text-primary-500">{{(page - 1) * 10 + i + 1}}.</span>
          <h4 id="tituloCard" class="font-bold font-Blinker text-3xl text-gray-800 leading-7">{{item.name}}</h4>
          <h5 id="ubicaciónCard" class="flex flex-row text-lg font-work font-semibold items-center text-gray-500 fill-gray-500"><svg role="img" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>{{item.municipio}}</h5>
          <p id="descripciónCard" class="overflow-hidden font-Work bg:text-lg md:text-lg text-gray-700 my-auto"  style="-webkit-line-clamp: 3; -webkit-box-orient: vertical;  display: -webkit-box;" >{{item.descripcion}}</p>
          <button
          (click)="navigate(item)"

          class="flex flex- items-center w-[50%] xl:w-[300px] mx-auto sm:mx-0 bg-primary-500 rounded-full py-2 border-[1.5px] text-center text-white font-bold justify-center px-[2px]"
        >
          Ver más
        </button>

        </div>

          </div>




      </ng-container>

                <!--todo ESTOOOOOOOOOO ES LO QUE SE VA REPETIR-->           <!--CARD ITERATIVO-->




      </div>
      <!-- Paginación propia de la librería que importamos -->
      <div class="flex flex-row justify-center">
        <pagination-controls nextLabel="" previousLabel="" class="custom-pagination " (pageChange)="page = $event;"></pagination-controls>
      </div>
      <!-- <button (click)="cargarMasDocumentos()" class="bg-primary-500 hover:bg-primary-400 mt-8 text-white text-xl font-semibold py-2 px-10 rounded-full flex flex-row justify-center mx-auto">Ver más</button> -->


    </section>

      </div>
    </div>
  </div>
</main>
<app-navfooter class="z-50"></app-navfooter>
