<app-header></app-header>

<div class="min-h-screen flex justify-center items-center">

  <div  class="shadow-lg rounded-xl bg:w-[300px] xs1:w-[500px] bg:-[200px] md:w-[600px] md:h-[450px]   p-10 my-48 py-auto py-auto mx-auto text-center">

    <h6 class="font-Blinker font-black bg:text-xl md:text-4xl text-primary-500 ">Le enviamos un correo para verificar su email</h6>
    <img src="../../../assets/img/mail.svg" class="w-96 mx-auto" alt="mailsvg"/>
    <div class="d-grid gap-2 mt-3">
      <button type="button" class="text-primary-400 text-center underline text-lg" routerLink="auth/login">Volver</button>
    </div>
  </div>

</div>

<app-footer></app-footer>
