<header class="z-50 ">
  <nav class="z-50  bg-primary-400 border-b border-primary-50 dark:bg-gray-900 items-center left-0 lg:px-5 py-2.5 rounded-bl-lg rounded-br-lg top-0 w-full">
    <div class="flex justify-center flex-wrap items-center">
      <a  routerLink="/login" class="flex mr-[2%]">
        <span class="self-center whitespace-nowrap text-white font-Work font-[1000] ms-2 sm:text-3xl xs:text-lg">CenturHuila</span>
        <img alt="CenturHuila" class="h-9 sm:h-9" src="../../../assets/img/centurhuila.svg" loading="lazy" dir="ltr">
      </a>
      <div class="flex items-center lg:order-2">
        <a href="https://centurhuila.com.co" target="_blank" class="bg-[#37a301] bg:text-xs dark:bg-primary-500 dark:focus:ring-primary-800 dark:hover:bg-primary-700 focus:outline-none focus:ring-4 focus:ring-primary-300 font-Work font-bold hover:bg-primary-700 lg:px-3 lg:py-2.5 px-3 py-2 rounded-lg sm:text-xl text-white">Consigue la APP</a>

      </div>

    </div>
  </nav>
</header>
