  <Div class=".paila" (keydown)="onKeyDown($event)" (mousedown)="handleKeydown($event)">
    <app-navheader class="fixed z-50 w-full  "></app-navheader>
    <div class="min-h-[1200px]">
      <router-outlet class="" ></router-outlet>
    </div>
    <app-navfooter></app-navfooter>
    <button  *ngIf="mostrarBoton"  (click)="toTop()" class=" transition-opacity  delay-500 ease-in-out pr-2 fixed bottom-[140px] flex flex-row font-Blinker  text-white items-center text-xl  right-0 rounded-tl-2xl rounded-bl-2xl bg-primary-500 opacity-60"><svg class="fill-white" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48"><path d="m284-324-66-66 262-261 262 260-65 66-197-198-196 199Z"/></svg></button>
  </Div><!-- Directiva de Angular que: lo que configuramos en el routing se vaya mostrando a medida que cambiamos la dirección en la barra de busqueda de nuestro navegador -->


