<ng-container class="bg-primary-500" *ngIf="showCarousel">
  <div class="swiper-container lg:hidden">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <button class="flex py-auto my-auto items-center space-x-2 border-primary-50 border-2 dark:bg-gray-200 dark:focus:ring-primary-800 dark:hover:bg-primary-700 focus:outline-none focus:ring-4 focus:ring-primary-300 font-Work font-bold hover:bg-primary-700 lg:px-1 lg:py-2.5 px-3 py-2 h-[50px] text-white rounded-xl justify-center">
          <img alt="ButtonFilter1" class="w-[30px]" src="../../../assets/img/bed.svg">
          <p class="justify-center mb-0 text" routerLink="">¿Dónde dormir?</p>
        </button>
      </div>
      <div class="swiper-slide">
        <button class=" flex py-auto my-auto items-center space-x-2 border-primary-50 border-2 dark:bg-gray-200 dark:focus:ring-primary-800 dark:hover:bg-primary-700 focus:outline-none focus:r ing-4 focus:ring-primary-300 font-Work font-bold hover:bg-primary-700 lg:px-1 lg:py-2.5 px-3 py-2  h-[50px]  text-white rounded-xl justify-center"><img alt="ButtonFilter2" class="w-[30px]" src="../../../assets/img/utensils.svg"><p class="justify-center mb-0 text" routerLink="">¿Donde comer?</p></button>

      </div>
      <div class="swiper-slide">
        <button class=" flex py-auto my-auto items-center space-x-2 border-primary-50 border-2 dark:bg-gray-200 dark:focus:ring-primary-800 dark:hover:bg-primary-700 focus:outline-none focus:r ing-4 focus:ring-primary-300 font-Work font-bold hover:bg-primary-700 lg:px-1 lg:py-2.5 px-3 py-2  h-[50px]  text-white rounded-xl justify-center"><img alt="ButtonFilter3" class="w-[30px]" src="../../../assets/img/plane.svg"><p class="justify-center mb-0 text" routerLink="">¿A Donde ir?</p></button>
      </div>
      <div class="swiper-slide">
        <button class="flex py-auto my-auto items-center space-x-2 border-primary-50 border-2 dark:bg-gray-200 dark:focus:ring-primary-800 dark:hover:bg-primary-700 focus:outline-none focus:r ing-4 focus:ring-primary-300 font-Work font-bold hover:bg-primary-700 lg:px-1 lg:py-2.5 px-3 py-2  h-[50px]  text-white rounded-xl justify-center"><img alt="ButtonFilter4" class="w-[30px]" src="../../../assets/img/ferris-wheel.svg"><p class="justify-center mb-0 text" routerLink="">Cosas que hacer</p></button>
      </div>


    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</ng-container>


