<div class="bg-gray-50 z-50">
  <!-- *header-->
  <app-navheader></app-navheader>
  <!--*fin header-->

  <!--!---                                                                               ----->

  <!--!Sección Banner en esta sección tiene tanto el titulo principal como la busqueda-->

  <section
    *ngIf="municipio !== undefined"
    id="Banner"
    class=" -top-2 py-10 relative bg-cover bg-center bg-no-repeat rounded-b-3xl z-40"
    style="background-image:url('{{municipio.pathImagePortada.url}}')"
  >
    <!--!Contenedor del titulo principal-->
    <div class="py-auto absolute inset-0 bg-black/40 rounded-b-3xl"></div>
    <div
      class="relative mx-auto bg:h-[250px] md:h-[400px] justify-center flex items-center"
    >
      <div class="text-center mb-[20] flex flex-col items-center"></div>
    </div>

    <!--!Contenedor de la busqueda principal-->
    <div class="relative flex flex-col bg:w-[85%] xl:w-[1200px] mx-auto">
      <!--!Contenedor de la busqueda principal-->

      <!--!Contenedor de los filtros-->
      <div class="relative w-full flex flex-row">
        <!--!Contenedor de los filtros-->
        <div class="relative">
          <!--!Boton de filtros de municipios-->
          <button
            class="flex flex-row items-center ml-5"
            (click)="expandListMuni()"
          >
          <!--!Icono de filtros de municipios-->
          <!--TODO: Cambiar el municipio dependiendo de lo seleccionado en el arreglo y pintar en select-->
            <h2 class="text-white bg:text-2xl md:text-4xl font-black">
              {{ select }}
            </h2>
            <svg
              class="fill-white"
              xmlns="http://www.w3.org/2000/svg"
              height="30"
              viewBox="0 -960 960 650"
              width="30"
            >
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </button>
          <!--!Contenedor de los filtros de municipios-->
          <div
            *ngIf="turnMuni"
            class="h-[800%] w-[140%] absolute bg-white flex flex-col px-5 overflow-y-scroll cdk-global-scrollblock rounded-md"
          >
          <!--!Span de los nombres de municipios-->
            <span
              class="text-xl py-2 my-2 cursor-pointer hover:bg-slate-100"
              *ngFor="let item of muni"
              (click)="cambiarMunicipio(item)"
              >{{ item }}</span
            >
          </div>
        </div>
        <!--!Contenedor de los filtros icon-->
        <div
          class="ml-auto text-white bg:text-2xl md:text-4xl font-Blinker mr-5 flex items-center font-black"
        >
        <!--!Icono de filtros temperatura-->
          <span *ngIf="municipio !== undefined" role="weather">{{municipio.clima}}</span>
          <img
            class="bg:w-7 md:w-10"
            alt="weatherimg"
            src="../../../../../assets/img/1.svg"
          />
        </div>
      </div>
    </div>
  </section>

  <!--!FIN Sección Banner en esta sección tiene tanto el titulo principal como la busqueda-->

  <!--!Contenedor principal-->

  <!--!MAIN DE TODO--> <!--*MAINNNNNNNNNNNNNNNNNN DE TODOOOOOOOOOOOOOOOOOOOOOOOOOO-->
  <main class="max-w-[1280px] min-h-screen mx-auto mt-0">
    <!--!Sección de información del municipio-->
    <section id="InfoMunicipio" class="flex flex-col mt-5">
        <!--TODO por si se necesita hacer paginación de las descripciones pero no se si será necesario-->
      <!-- <button class="rounded-lg text-xl px-2 py-2 bg-primary-500 text-white w-20 my-2">a</button>
  <button class="rounded-lg text-xl px-2 py-2 bg-primary-500 text-white w-20 my-2">b</button>
  <button class="rounded-lg text-xl px-2 py-2 bg-primary-500 text-white w-20 my-2">c</button>
  <button class="rounded-lg text-xl px-2 py-2 bg-primary-500 text-white w-20 my-2">d</button> -->
  <!--TODO por si se necesita hacer paginación de las descripciones pero no se si será necesario-->

  <!--!Contenedor de la descripcion del municipio-->
      <div class="flex bg:flex-col md:flex-row min-h-full h-full mb-5">
        <div
          class="relative md:w-[65%] bg:w-full min-h-[778px] h-full mr-auto p-5 bg-white drop-shadow-xl border-2 flex flex-col"
        >
        <!--!Contenedor de la descripcion del municipio-->
          <h2
            class="text-2xl font-semibold text-left font-Blinker my-3 text-primary-500"
          >
            Descripción
          </h2>
          <p *ngIf="municipio !== undefined" class="text-lg font-Work">
            {{municipio.descripcion}}
          </p>
          <hr class="border-[1px] my-5" />
          <!--!Contenedor de las fiestas del municipio-->
          <h2
            class="text-2xl font-semibold text-left font-Blinker my-3 text-primary-500"
          >
            Fiestas y eventos
          </h2>
          <div *ngIf="municipio !== undefined">
            <span class="text-lg font-Work">{{municipio.fiestasEventos}}</span>
          </div>
          <!--
          <span class="text-lg font-Work">
            *Festival y Reinado popular y departamental de la Alegría y el
            Folclor.</span>
          <span class="text-lg font-Work">*Evento Travesía del Agua.</span>
          -->
          <hr class="border-[1px] my-5" />
          <!--!Contenedor de los hechos historicos del municipio-->
          <h2
            class="text-2xl font-semibold text-left font-Blinker my-3 text-primary-500"
          >
            Hechos historicos
          </h2>
          <p *ngIf="municipio !== undefined" class="text-lg font-Work">
            {{municipio.hechosHistoricos}}
          </p>
        </div>
        <!--!Contenedor de la imagen del municipio-->
        <div
          class="md:w-[34%] bg:w-full h-full ml-auto flex flex-col z-0 p-3 gap-5 drop-shadow-xl border-2 bg-white"
        >
        <!--!Contenedor de la información adicional del municipio-->
          <h2
            class="text-2xl font-semibold text-center font-Blinker text-primary-500"
          >
            Información adicional
          </h2>
          <!--!Contenedor del mapa del municipio-->
          <div id="map" class="w-full h-full min-h-[300px] z-0">
            <span class="hidden">Se supone que aqui debe ir un mapa D:</span>
          </div>
          <hr class="border-[1px] my-5" />

          <div class="min-h-[200px] w-full flex flex-col">
            <!--!div de todas las redes-->
            <!--! REDEEEEEEEEEEEEEEEEES-->
            <div class="w-full flex flex-col gap-5 justify-center">
              <!--!contenedor de las redes acomodandolos por columnas-->

              <!--*-------------------------------------------------------------------------------------------------------------------------------------->
              <div class="flex flex-row">
                <!--!contenedor de 2 redes-->

                <a
                  *ngIf="municipio !== undefined"
                  href={{municipio.sitioWeb}}
                  target="_blank"
                  class="w-[50%] flex justify-center"
                  ><!--red de web-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/web.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >Web
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span> </a
                ><!--!red de web-->
                <!--!--------------------------------------------------------------------------------->
                <a
                  *ngIf="municipio !== undefined"
                  href={{municipio.facebook}}
                  target="_blank"
                  class="w-[50%] flex justify-center"
                  ><!--red de facebook-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/facebook.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >Facebook
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span> </a
                ><!--!red de facebook-->
              </div>
              <!--!fin de contenedor de 2 redes-->
              <!--*-------------------------------------------------------------------------------------------------------------------------------------->

              <div class="flex flex-row">
                <!--!contenedor de 2 redes-->

                <a
                  *ngIf="municipio !== undefined"
                  href={{municipio.googleMaps}}
                  target="_blank"
                  class="w-[50%] flex justify-center"
                  ><!--red de maps-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/googlemaps.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >Maps
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span> </a
                ><!--!red de maps-->
                <!--!--------------------------------------------------------------------------------->
                <a
                  *ngIf="municipio !== undefined"
                  href={{municipio.instagram}}
                  target="_blank"
                  class="w-[50%] flex justify-center"
                >
                  <!--!red de instagram-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/instagram.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >Instagram
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span> </a
                ><!--!red  de instagram-->
              </div>
              <!--!contenedor de 2 redes-->

              <!--*-------------------------------------------------------------------------------------------------------------------------------------->
              <div class="flex flex-row">
                <!--!contenedor de 2 redes-->

                <a
                  *ngIf="municipio !== undefined"
                  href={{municipio.twitter}}
                  target="_blank"
                  class="w-[50%] flex justify-center"
                >
                  <!--!red de twitter-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/x.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >X
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span>
                </a>
                <!--!red de twitter-->
                <!--!--------------------------------------------------------------------------------->
                <a
                  *ngIf="municipio !== undefined"
                  href={{municipio.youtube}}
                  target="_blank"
                  class="w-[50%] flex justify-center"
                >
                  <!--!red de youtube-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/youtube.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >Youtube
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span>
                </a>
                <!--!red de youtube-->
              </div>
              <!--!contenedor de 2 redes-->
              <!--*-------------------------------------------------------------------------------------------------------------------------------------->
            </div>
            <!--! REDEEEEEEEEEEEEEEEEES-->
          </div>
        </div>
      </div>
    </section>
    <!--!Fin de la sección de información del municipio-->

    <!--!Sección de información de los servicios del municipio-->
    <section id="InfoListaMunicipio" class="">
      <!--!Contenedor de los botones de los servicios-->
      <div
        class="w-full  bg-white drop-shadow-xl h-36 items-center justify-center flex flex-col gap-5"
      >
      <!--!titulo de la sección lista de municipios "explora por ti mismo"-->
        <h2
          class="text-center font-Blinker text-3xl text-primary-500 font-bold"
        >
          Explora por ti mismo
        </h2>

        <div class="relative w-[80%] h-12 items-center justify-center flex">
          <!--!Input de busqueda-->
          <input
            type="text"
            id="Search"
            placeholder="¿Que buscas?"
            class="w-full border-2 border-gray-300 rounded-3xl  h-[80%] pe-10 shadow-sm bg:text-base xl:text-lg flex flex-col items-center py-4.5 px-7 drop-shadow-sm font-Work"
          />
          <!--!Boton de busqueda-->
          <button
            type="button"
            class="text-gray-600 hover:text-gray-400 absolute right-0 top-[50%] translate-y-[-50%] h-[50%] mr-5"
          >
          <!--!Icono de busqueda-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="currentColor"
              class="w-full h-full"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </button>
        </div>
      </div>
      <!--!Contenedor de los botones de los servicios-->
      <div
        class="flex flex-row text-gray-600 font-Work font-normal gap-2 overflow-hidden bg-primary-500 rounded-b-xl w-full"
      >
      <!---->
        <div
          class="mx-auto w-full overflow-x-scroll scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200"
        >
          <div class="xs1:mt-0 bg:max-w-auto max-w-full z-50">
            <div
              class="flex flex-row gap-4 items-center overscroll-y-contain md2:justify-center bg-primary-500 h-20 rounded-b-xl px-5 text-white"
            >
            <!--!Boton que activa todos los servicios-->
              <button
                (click)="clearBotonActivo(); clearSelectedServices(); turnServicesOption('none')"
                class="flex items-center space-x-2 border-primary-50 border-2 focus:outline-none focus:ring-4 focus:ring-primary-300 font-Work font-bold lg:px-1 lg:py-2.5 px-3 py-2 min-w-[204px] max-h-[50px] text-white rounded-xl justify-center"
              >
                <h1 class="justify-center mb-0 text">Todo</h1>
              </button>
              <!--!Boton que itera todos los tipos de categoria DORMIR, DONDE COMER , A DONDE IR, COSAS QUE HACER-->
              <!--*NG CLASS aplica unos estilos SOLO si se cumple la condición de que el botonActivo sea igual al nombre te el Heading Text-->
              <!--*Para cambiar que boton sea seleccionado se utiliza (click) para disparar DOS FUNCIONES en la que estan "activar boton" y "turnServicesOption" la primera función cambia la variable global de tipo string llamada botonActivo al paramatro enviado en este caso es "tile.headingText" tomado de la iteración del arreglo "titles"; La otra función lo que hace basicamente es lo mismo pero en arreglo, añadiendo al arreglo los botones seleccionados y a la misma vez si se da de nuevo click verifica que el argumento recibido esta o no está en el arreglo para borrarlo o agregarlo  -->
              <button
                *ngFor="let title of titles; let i = index"
                [ngClass]="{
                  'bg-primary-400 text-white border-primary-400':
                    botonActivo === title.headingText
                }"
                (click)="
                  activarBoton(title.headingText);
                  turnServicesOption(title.headingText);
                  clearSelectedServices()
                "
                class="flex items-center space-x-2 border-primary-50 border-2 focus:outline-none focus:ring-4 focus:ring-primary-300 font-Work font-bold lg:px-1 lg:py-2.5 px-3 py-2 min-w-[204px] max-h-[50px] text-white rounded-xl justify-center"
              >
                <img
                  alt="ButtonFilter{{ title.headingText }}"
                  class="w-[30px]"
                  src="../../../assets/img/bed.svg"
                />
                <h3 class="justify-center mb-0 text">
                  {{ title.headingText }}
                </h3>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-row mt-2 gap-5">
        <!--*---------------------------------------------->
        <div
          *ngIf="turnS === '¿Donde dormir?'"
          id="SLEEP"
          class="relative md1:grid bg:flex bg:flex-row overflow-x-scroll md1:grid-cols-5 xl:grid-cols-8 mx-auto gap-2 px-2"
        >
          <button
            (click)="clearSelectedServices()"
            class="flex flex- items-center min-w-[153px] border-gray-400 bg-white rounded-lg py-2 border-[1.5px] text-center text-gray-600 justify-center px-[2px]"
          >
            Todos
          </button>

          <button
            *ngFor="let item of servicesSLEEP"
            class="flex flex- items-center min-w-[153px] border-gray-400 bg-white rounded-lg py-2 border-[1.5px] text-center text-gray-600 justify-center px-[2px]"
            [ngClass]="{
              'bg-primary-500 text-white border-primary-500':
                selectedServices.has(item),
              'bg-white text-gray-600': !selectedServices.has(item)
            }"
            (click)="toggleService(item)"
          >
            {{ item }}
          </button>
        </div>
      <!--*---------------------------------------------->
      <!--*---------------------------------------------->
        <div
          *ngIf="turnS === '¿A Donde ir?'"
          id="GO"
          class="relative md1:grid bg:flex bg:flex-row overflow-x-scroll md1:grid-cols-5 xl:grid-cols-8 mx-auto gap-2 px-2"
        >
          <button
            (click)="clearSelectedServices()"
            class="flex flex- items-center min-w-[153px] border-gray-400 bg-white rounded-lg py-2 border-[1.5px] text-center text-gray-600 justify-center px-[2px]"
          >
            Todos
          </button>

          <button
            *ngFor="let item of servicesGO"
            class="flex flex- items-center min-w-[153px] border-gray-400 bg-white rounded-lg py-2 border-[1.5px] text-center text-gray-600 justify-center px-[2px]"
            [ngClass]="{
              'bg-primary-500 text-white border-primary-500':
                selectedServices.has(item),
              'bg-white text-gray-600': !selectedServices.has(item)
            }"
            (click)="toggleService(item)"
          >
            {{ item }}
          </button>
        </div>
      <!--*---------------------------------------------->
      <!--*---------------------------------------------->
        <div
          *ngIf="turnS === 'Cosas que hacer'"
          id="EAT"
          class="relative md1:grid bg:flex bg:flex-row overflow-x-scroll md1:grid-cols-5 xl:grid-cols-8 mx-auto gap-2 px-2"
        >
          <button
            (click)="clearSelectedServices()"
            class="flex flex- items-center min-w-[153px] border-gray-400 bg-white rounded-lg py-2 border-[1.5px] text-center text-gray-600 justify-center px-[2px]"
          >
            Todos
          </button>

          <button
            *ngFor="let item of servicesDO"
            class="flex flex- items-center min-w-[153px] border-gray-400 bg-white rounded-lg py-2 border-[1.5px] text-center text-gray-600 justify-center px-[2px]"
            [ngClass]="{
              'bg-primary-500 text-white border-primary-500':
                selectedServices.has(item),
              'bg-white text-gray-600': !selectedServices.has(item)
            }"
            (click)="toggleService(item)"
          >
            {{ item }}
          </button>
        </div>
      <!--*---------------------------------------------->
      <!--*---------------------------------------------->
        <div
          *ngIf="turnS === '¿Donde comer?'"
          id="EAT"
          class="relative md1:grid bg:flex bg:flex-row overflow-x-scroll md1:grid-cols-5 xl:grid-cols-8 mx-auto gap-2 px-2"
        >
          <button
            (click)="clearSelectedServices()"
            class="flex flex- items-center min-w-[153px] border-gray-400 bg-white rounded-lg py-2 border-[1.5px] text-center text-gray-600 justify-center px-[2px]"
          >
            Todos
          </button>

          <button
            *ngFor="let item of servicesEAT"
            class="flex flex- items-center min-w-[153px] border-gray-400 bg-white rounded-lg py-2 border-[1.5px] text-center text-gray-600 justify-center px-[2px]"
            [ngClass]="{
              'bg-primary-500 text-white border-primary-500':
                selectedServices.has(item),
              'bg-white text-gray-600': !selectedServices.has(item)
            }"
            (click)="toggleService(item)"
          >
            {{ item }}
          </button>
        </div>
      <!--*---------------------------------------------->
      </div>
    </section>
<!--!Fin de la sección de información de los servicios del municipio-->

<!--!Sección de los listados de los servicios del municipio-->
    <section id="ListadosMunicipios" class="">

      <div class="flex flex-col my-5 gap-5">
        <!--*Sección de imagen-->
        <div class="w-full relative md:h-[400px]  px-4 gap-5 bg-white rounded-lg drop-shadow-xl mb-5 flex bg:flex-col md:flex-row">

          <!--!Div principal imagen-->
          <div class=" md2:min-w-[500px] relative">
              <!--*imagen-->
              <div class="relative max-w-[500px] mx-auto">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/05/68/f3/06/relax-in-our-historical.jpg?w=500&h=400&s=1" class="rounded-lg">
                <!--*Boton de guardar-->
             <button id="save" class="absolute bottom-2 right-14  active:bg-slate-200 bg-white rounded-full w-10 h-10 flex justify-center items-center">
               <svg class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30"><path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/></svg>
             </button>
              <!--*Boton de me gusta-->
             <button id="like"  class="absolute bottom-2 right-2 active:bg-slate-200 bg-white rounded-full w-10 h-10 flex justify-center items-center">
               <svg class="fill-primary-500 text-primary-500 stroke-primary-500" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30" fill="currentColor"><path d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" /></svg>
             </button>
              </div>

          </div>
          <!--!Div secundario información-->

          <div class="relative flex flex-col w-full h-[400px] py-5">
            <span class="font-light font-Blinker text-2xl text-primary-500">01.</span>
            <h4 class="font-bold font-Blinker text-3xl text-gray-800 leading-7">Cascada la cascadosa</h4>
            <h5 class="flex flex-row text-lg font-work font-semibold items-center text-gray-500 fill-gray-500"><svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/></svg>Garzón Huila, Alemania</h5>

          </div>

      </div>
      </div>

    </section>









































































<!--!Fin Sección de los listados de los servicios del municipio-->
  </main>
<!--!MAIN DE TODO--> <!--*MAINNNNNNNNNNNNNNNNNN DE TODOOOOOOOOOOOOOOOOOOOOOOOOOO-->

  <!--!Fin contenedor principal-->

  <!--!---                                                                               ----->

  <!--*footer-->
</div>
<app-navfooter class="bg-white"></app-navfooter>

<!--*fin footer-->
