<div class="bg-gray-50 z-50">
  <!-- *header-->
  <app-navheader></app-navheader>
  <!--*fin header-->

  <!--!---                                                                               ----->

  <!--?Sección Banner en esta sección tiene tanto el titulo principal como la busqueda-->

  <section
    id="Banner"
    class="bg-[url(https://firebasestorage.googleapis.com/v0/b/centurhuila-b9e47.appspot.com/o/Banner%2FGarz%C3%B3n.webp?alt=media&token=a5a26d25-f840-4d9f-b547-dcb1976190a3&_gl=1*1j1fqzg*_ga*NDA2NDgyOTM3LjE2ODY3NDgyNjA.*_ga_CW55HF8NVT*MTY5NjM0NTk4OS40OS4xLjE2OTYzNDYxMDEuMzAuMC4w)] -top-2 py-10 relative bg-cover bg-center bg-no-repeat rounded-b-3xl z-40"
  >
    <!--?Contenedor del titulo principal-->
    <div class="py-auto absolute inset-0 bg-black/40 rounded-b-3xl"></div>
    <div
      class="relative mx-auto bg:h-[250px] md:h-[400px] justify-center flex items-center"
    >
      <div class="text-center mb-[20] flex flex-col items-center"></div>
    </div>

    <!--?Contenedor de la busqueda principal-->
    <div class="relative flex flex-col bg:w-[85%] xl:w-[1200px] mx-auto">
      <div class="relative h-12 items-center justify-center flex">
        <input
          type="text"
          id="Search"
          placeholder="¿Que buscas?"
          class="w-full rounded-3xl border-white h-[80%] pe-10 shadow-sm bg:text-base xl:text-lg flex flex-col items-center py-4.5 px-7 drop-shadow-2xl font-Work"
        />

        <button
          type="button"
          class="text-gray-600 hover:text-gray-400 absolute right-0 top-[50%] translate-y-[-50%] h-[50%] mr-5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            class="w-full h-full"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
            />
          </svg>
        </button>
      </div>

      <div class="relative w-full flex flex-row">
        <div class="relative">
          <button
            class="flex flex-row items-center ml-5"
            (click)="expandListMuni()"
          >
            <h1 class="text-white bg:text-2xl md:text-4xl font-black">
              {{ select }}
            </h1>
            <svg
              class="fill-white"
              xmlns="http://www.w3.org/2000/svg"
              height="30"
              viewBox="0 -960 960 650"
              width="30"
            >
              <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </button>

          <div
            *ngIf="turnMuni"
            class="h-[800%] w-[140%] absolute bg-white flex flex-col px-5 overflow-y-scroll cdk-global-scrollblock rounded-md"
          >
            <span
              class="text-xl py-2 my-2 cursor-pointer hover:bg-slate-100"
              *ngFor="let item of muni"
              >{{ item }}</span
            >
          </div>
        </div>

        <div
          class="ml-auto text-white bg:text-2xl md:text-4xl font-Blinker mr-5 flex items-center font-black"
        >
          <span role="weather">20 C°</span>
          <img
            class="bg:w-7 md:w-10"
            alt="weatherimg"
            src="../../../../../assets/img/1.svg"
          />
        </div>
      </div>
    </div>
  </section>

  <!--?FIN Sección Banner en esta sección tiene tanto el titulo principal como la busqueda-->

  <!--?Contenedor principal-->

  <main class="max-w-[1280px] min-h-screen mx-auto mt-0">
    <section id="InfoMunicipio" class="flex flex-col mt-5">
      <!-- <button class="rounded-lg text-xl px-2 py-2 bg-primary-500 text-white w-20 my-2">a</button>
  <button class="rounded-lg text-xl px-2 py-2 bg-primary-500 text-white w-20 my-2">b</button>
  <button class="rounded-lg text-xl px-2 py-2 bg-primary-500 text-white w-20 my-2">c</button>
  <button class="rounded-lg text-xl px-2 py-2 bg-primary-500 text-white w-20 my-2">d</button> -->
      <div class="flex bg:flex-col md:flex-row min-h-full h-full mb-5">
        <div
          class="relative md:w-[65%] bg:w-full min-h-[778px] h-full mr-auto p-5 bg-white drop-shadow-xl border-2 flex flex-col"
        >
          <h2
            class="text-2xl font-semibold text-left font-Blinker my-3 text-primary-500"
          >
            Descripción
          </h2>
          <p class="text-lg font-Work">
            Garzón se basa gran parte de su economía en la actividad
            agropecuaria, predominando el sector agrícola y la producción de
            café especial. Otros renglones como el ecoturismo y turismo
            religioso son importantes para la economía municipal. Es conocida
            como la Capital Diocesana del Huila por ser la primera diócesis
            católica de la región de la cual se crearon las actuales; también
            tiene como apelativo: "Alma del Huila o Garzoncito"
          </p>
          <hr class="border-[1px] my-5" />
          <h2
            class="text-2xl font-semibold text-left font-Blinker my-3 text-primary-500"
          >
            Fiestas y eventos
          </h2>

          <span class="text-lg font-Work">*Festival de las Brujas.</span>
          <span class="text-lg font-Work">
            *Festival y Reinado popular y departamental de la Alegría y el
            Folclor.</span
          >
          <span class="text-lg font-Work">*Evento Travesía del Agua.</span>
          <hr class="border-[1px] my-5" />
          <h2
            class="text-2xl font-semibold text-left font-Blinker my-3 text-primary-500"
          >
            Hechos historicos
          </h2>
          <p class="text-lg font-Work">
            Históricamente comienzan a aparecer datos sobre esta región desde el
            año 1628, cuando en el sitio donde hoy se levanta la ciudad de
            Garzón funcionaba un centro para el adoctrinamiento indígena de la
            nación Tama; el sitio era conocido con el nombre de Garzoncito. Se
            hallaba ubicado en la hacienda El Vegón. Sus primeros pobladores
            eran indígenas de las tribus Tamas y Andaquíes.
          </p>
        </div>
        <div
          class="md:w-[34%] bg:w-full h-full ml-auto flex flex-col z-0 p-3 gap-5 drop-shadow-xl border-2 bg-white"
        >
          <h2
            class="text-2xl font-semibold text-center font-Blinker text-primary-500"
          >
            Información adicional
          </h2>

          <div id="map" class="w-full h-full min-h-[300px] z-0">
            <span class="hidden">Se supone que aqui debe ir un mapa D:</span>
          </div>
          <hr class="border-[1px] my-5" />

          <div class="min-h-[200px] w-full flex flex-col"> <!--div de todas las redes-->
<!--? REDEEEEEEEEEEEEEEEEES-->
            <div class="w-full flex flex-col gap-5 justify-center"> <!--contenedor de las redes acomodandolos por columnas-->

<!--*-------------------------------------------------------------------------------------------------------------------------------------->
              <div class="flex flex-row"> <!--contenedor de 2 redes-->

                <a href="http://paginaweb.com/" target="_blank" class="w-[50%] flex justify-center"><!--red de web-->
                  <span  class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/web.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >Web
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span>
                </a><!--red de web-->
<!--!--------------------------------------------------------------------------------->
                <a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" target="_blank" class="w-[50%] flex justify-center"><!--red de facebook-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/facebook.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >Facebook
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span>
                </a><!--red de facebook-->

              </div><!--fin de contenedor de 2 redes-->
<!--*-------------------------------------------------------------------------------------------------------------------------------------->

              <div class="flex flex-row"> <!--contenedor de 2 redes-->

                <a href="https://www.google.com/maps/@41.8951431,12.5368628,12.13z?entry=ttu" target="_blank" class="w-[50%] flex justify-center"><!--red de maps-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/googlemaps.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >Maps
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span>
                </a><!--red de maps-->
<!--!--------------------------------------------------------------------------------->
                <a href="https://www.instagram.com/" target="_blank" class="w-[50%] flex justify-center"> <!--red de instagram-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/instagram.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >Instagram
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span>
                </a><!--red  de instagram-->

              </div> <!--contenedor de 2 redes-->

<!--*-------------------------------------------------------------------------------------------------------------------------------------->
              <div class="flex flex-row"> <!--contenedor de 2 redes-->

                <a href="https://twitter.com/?lang=en" target="_blank" class="w-[50%] flex justify-center"> <!--red de twitter-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/x.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >X
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span>
                </a> <!--red de twitter-->
<!--!--------------------------------------------------------------------------------->
                <a href="https://www.youtube.com/" target="_blank" class="w-[50%] flex justify-center"> <!--red de youtube-->
                  <span class=""
                    ><img
                      class="min-w-[30px] min-h-[30px] md:w-[25px] lg:w-[30px]"
                      src="../../../../../assets/img/youtube.svg" /></span
                  ><span
                    class="flex flex-row min-w-[106.41px] ml-2 md:text-lg xl:text-xl font-semibold text-gray-500"
                    >Youtube
                    <img
                      class="w-[15px] max-w-[15px] min-w-[15px]"
                      src="../../../../../assets/img/arrow.svg"
                  /></span>
                </a> <!--red de youtube-->

              </div> <!--contenedor de 2 redes-->
<!--*-------------------------------------------------------------------------------------------------------------------------------------->
            </div>
<!--? REDEEEEEEEEEEEEEEEEES-->
          </div>
        </div>
      </div>
    </section>
  </main>

  <!--?Fin contenedor principal-->

  <!--!---                                                                               ----->

  <!--*footer-->
</div>
<app-navfooter class="bg-white"></app-navfooter>

<!--*fin footer-->
