<app-navheader></app-navheader>
<section

id="Banner"
class=" top-[60px] py-10 relative bg-cover bg-center bg-no-repeat rounded-b-3xl z-40"
style="background-image:url(a)"
>
<!--!Contenedor del titulo principal-->
<div class="py-auto absolute inset-0 bg-black/40 rounded-b-3xl"></div>
<div
  class="relative mx-auto bg:h-[250px] md:h-[400px] justify-center flex items-center"
>
  <div class="text-center mb-[20] flex flex-col items-center"></div>
</div>


</section>


<main class="max-w-[1280px] min-h-screen mx-auto mt-0">

</main>
<app-navfooter></app-navfooter>
