<app-navheader ></app-navheader>

  <!--*nombreMunicipio-->
  <section id="nombrePrestador" class="w-full relative mt-[60px]  min-h-[60px] max-h-[60px] bg-primary-500 bg-opacity-5 border-b-2 my-auto">
    <div class="max-w-[1280px] xl:w-[1280px] bg:w-full  h-[60px] mx-auto flex items-center justify-center xl:justify-start">

      <h3 class="text-gray-700 text-2xl font-Blinker font-bold text-center xl:text-left ">Nombre Prestador</h3>
    </div>

  </section>
  <!--*nombreMunicipio-->


  <div class="min-h-screen min-w-screen bg-black bg-opacity-5"><!--!estilizando negro-->

  <section
    id="galeriaImagenesPrestador"
    class=" py-10 relative bg-cover bg-center bg-no-repeat rounded-b-3xl z-40 xl:max-w-[1280] xl:w-[1280px] h-[500px] border-2 border-t-0 mx-auto"
  ><!--? Galeria de imagenes-->

  </section><!--? Galeria de imagenes-->


  <main class="max-w-[1280px] min-h-screen mx-auto mt-0"><!--todo PAGINA MAIN CONTENIDO PRINCIPAL-->


  </main><!--todo PAGINA MAIN CONTENIDO PRINCIPAL-->


</div><!--!estilizando negro-->

<app-navfooter></app-navfooter>
