<header class="z-50 mb-20">
  <nav class="z-50 fixed bg-primary-500 border-b border-primary-50 dark:bg-gray-900 items-center left-0 lg:px-5 py-2.5 rounded-bl-lg rounded-br-lg top-0 w-full">
    <div class="flex justify-center flex-wrap items-center">
      <a routerLink="/dashboard" class="flex mr-[2%]">
        <span class="self-center whitespace-nowrap text-white font-Work font-[1000] ms-2 sm:text-3xl xs:text-lg">CenturHuila</span>
        <img alt="CenturHuila" class="h-9 sm:h-9" src="../../../assets/img/centurhuila.svg" loading="lazy" dir="ltr">
      </a>
      <div class="flex items-center lg:order-2">

        <button class="dark:text-gray-400 text-gray-500 dark:focus:ring-gray-600 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200 hover:bg-gray-100 inline-flex items-center lg:hidden ml-1 p-2 rounded-lg text-sm"
          type="button" (click)="expanded = !expanded" aria-controls="mobile-menu-2"  aria-label="Whats" data-collapse-toggle="mobile-menu-2">
          <svg class="h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
            <path
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule=evenodd fill-rule=evenodd></path>
          </svg>
        </button>
        <button href="index.html#banner" class="bg-[#37a301] bg:text-xs dark:bg-primary-500 dark:focus:ring-primary-800 dark:hover:bg-primary-700 focus:outline-none focus:ring-4 focus:ring-primary-300 font-Work font-bold hover:bg-primary-700 lg:px-1 lg:py-2.5 px-3 py-2  sm:text-xl h-[50px] w-[50px] text-white rounded-full"></button>
      </div>
      <div class="hidden 3xl:mr-[55%] bg:mr-[10%] items-center justify-between lg:flex lg:order-0 lg:w-auto w-full xl:mr-[40%] "
        id="mobile-menu-2" [class.hidden]="!expanded">
        <ul class="flex flex-col font-medium lg:flex-row lg:items-center p-0 lg:space-x-8 text-center py-auto my-auto">
          <li>
            <a href="/AboutUs" class=" block border-b border-gray-100 dark:border-gray-700 dark:hover:text-white hover:bg-gray-50 lg:border-0 lg:dark:hover:bg-transparent lg:dark:hover:text-white lg:hover:bg-transparent lg:hover:text-primary-500 lg:p-0 pl-3 pr-4 py-2 text-white"
              >Acerca de nosotros</a>
          </li>
          <li>
            <a href="#contactenos" class=" block border-b border-gray-100 dark:border-gray-700 dark:hover:text-white hover:bg-gray-50 lg:border-0 lg:dark:hover:bg-transparent lg:dark:hover:text-white lg:hover:bg-transparent lg:hover:text-primary-500 lg:p-0 pl-3 pr-4 py-2 text-white"
              >Contáctenos</a>
          </li>

          <li>
            <a href="https://www.centurhuila.com.co" target="_blank"  class=" block border-b border-gray-100 dark:border-gray-700 dark:hover:text-white hover:bg-gray-50 lg:border-0 lg:dark:hover:bg-transparent lg:dark:hover:text-white lg:hover:bg-transparent lg:hover:text-primary-500 lg:p-0 pl-3 pr-4 py-2 text-white"
              >Descargar app</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>
</header>
