
<!--todo: Contenedor de la busqueda principal-->
<div class="relative right-0 left-0 bottom-2 flex flex-col bg:w-[85%] xl:w-[1200px] mx-auto">
  <div class="absolute h-12 items-center justify-center flex flex-col">
    <input class="w-full rounded-3xl border-white h-[80%] pe-10  bg:text-base xl:text-lg flex flex-col items-center py-4.5 px-7 font-Work" type="text" (keyup)="onSearch($event)" placeholder="Buscar...">



  </div>
  <ul *ngIf="results[0] != null"  class="w-full relative  bg:w-[85%] xl:w-[1200px] overflow-y-scroll min-h-[600px] max-h-[600px] bg-rose-500">
    <li class="cursor-pointer hover:bg-black hover:bg-opacity-20" *ngFor="let item of results; let i = index" (click)="navigate(item)">{{item.name}}</li>
  </ul>
  </div>

  <!--todo: FIN Contenedor de la busqueda principal-->

